<div id="info-div">
  <mat-card class="list-card mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Mission Boards</mat-card-title>
      <mat-card-subtitle>Collection of important posts for agents to interact with and add to through the event</mat-card-subtitle>
      <mat-card-subtitle>All links are not tied to any person, and link directly out to the posts in question on the board</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <!-- Important Intelligence -->
      <mat-card class="infoCard">
        <mat-card-header>
          <mat-card-title>Important Intelligence</mat-card-title>
          <mat-card-subtitle>Important posts that are good for agents to be aware of, posted here by event organizers</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Content here</p>
        </mat-card-content>
      </mat-card>

      <!-- Agent Intelligence -->
      <mat-card class="infoCard">
        <mat-card-header>
          <mat-card-title>TITLE</mat-card-title>
          <mat-card-subtitle>More stuff here, this will be dynamic based on the type or something idk</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Content here</p>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>
</div>
