<div class="nav-container">
  <div id="wordContainer">
    <div id="perspectiveContainer">
      <div id="perspectiveContentDiv"><span>SANTAPONE CENTRAL</span></div>
    </div>
  </div>
  <div class="title"></div>
<div id="button-container">
  <app-navbar></app-navbar>
</div>

<div class="pipesContainer" *ngIf="false">
  <img src="../assets/images/pipesback.gif" class="backPipes">
  <img src="../assets/images/pipesfront.gif" class="pipesFront">
  <img src="../assets/images/pipesmiddle.gif" class="pipesMiddle">
  <img src="../assets/images/pipesmiddle.gif" class="pipesMiddleMirror">
</div>


<div class="main-container">
  <router-outlet></router-outlet>
</div>





