#button-container
{
  display: block;
  background-color: rgb(59, 59, 59);
  width: 100%;
  text-align: center;
}
.nav-container
{
  width: 100%;
  height: 200px;
  min-width: 600px;
}
.title{
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-image: url(../assets/banner/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 150px;
}
.main-container
{
  width: 100%;
  height: 100%;
  display: contents;
}

.bg
{
  display: inline-block;
  position: fixed;
  width: 100%;
  min-width: 600px;
  min-height: 800px;
  margin-top: 10px;
  left: 0;
  z-index: -1;
  background-position-y: bottom;
  background-image: url(../assets/images/santa.png);
  background-size: contain;
  background-repeat: no-repeat;
}