.title{
    text-align: center;
    font-size: 200%;
    margin-top: 10px;
}
mat-toolbar-row{
    display: block;
    text-align: center;
    height: 130px;
    margin-bottom: 10px;
}
mat-toolbar{
    background-color: #f06292;
    color: white;
}