#button-container
{
  display: block;
  background-color: rgb(59, 59, 59);
  width: 100%;
  text-align: center;
}
.nav-container
{
  width: 100%;
  height: 200px;
  min-width: 550px;;
}
.title{
  display: inline-block;
  width: 100%;
  height: 250px;
  vertical-align: top;
  background-image: url(../assets/banner/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
#wordContainer
{
  width: 100%;
}
#div1 {
  position: absolute;
  height: 250px;
  width: fit-content;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  perspective: 60px;
}

#div2 {
  display: block;
  height: 100px;
  width: 700px;
  margin-top: 35px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 78px;
  color: #ce4355;
  transform-style: preserve-3d;
  transform: rotateX(-4deg);
}

@media (max-width:550px)
{
  .title{
    display: inline-block;
    width: 100%;
    height: 150px;
    vertical-align: top;
    background-image: url(../assets/banner/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.main-container
{
  width: 100%;
  height: 100%;
  display: contents;
}

.bg
{
  display: inline-block;
  position: fixed;
  width: 100%;
  min-width: 550px;;
  min-height: 800px;
  left: 0;
  z-index: -1;
  background-position-y: bottom;
  background-image: url(../assets/images/santa.png);
  background-size: contain;
  background-repeat: no-repeat;
}
