<div class="nav-container">
  <div id="wordContainer">
    <div id="perspectiveContainer">
      <div id="perspectiveContentDiv">
        <span class="flicker1">S</span>
        <span class="flicker2">A</span>
        <span class="flicker3">N</span>
        <span class="flicker4">T</span>
        <span class="flicker5">A</span>
        <span class="flicker6">P</span>
        <span class="flicker5">O</span>
        <span class="flicker4">N</span>
        <span class="flicker2">E </span>
        <span class="flicker3">C</span>
        <span class="flicker1">E</span>
        <span class="flicker2">N</span>
        <span class="flicker5">T</span>
        <span class="flicker6">R</span>
        <span class="flicker3">A</span>
        <span class="flicker2">L</span>
      </div>
    </div>
  </div>
  <div class="title"></div>
<div id="button-container">
  <app-navbar></app-navbar>
</div>

<div class="pipesContainer" *ngIf="false">
  <img src="../assets/images/pipes/pipesback.gif" class="backPipes">
  <img src="../assets/images/pipes/pipesfront.gif" class="pipesFront">
  <img src="../assets/images/pipes/pipesmiddle.gif" class="pipesMiddle">
  <img src="../assets/images/pipes/pipesmiddle.gif" class="pipesMiddleMirror">
</div>
<div class="pipesContainer allPipes" *ngIf="true"></div>


<div>
  <router-outlet></router-outlet>
</div>





