.mainCard
{
  margin: 10px;
}
.selectedNoteCard
{
  display: inline-block;
  width: 63%;
  margin-left: 2%;
}
.newNoteCard
{
  margin-top: 15px;
}
.noteText
{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  text-align: left;
}
.spinnerDiv
{
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.noteSelection
{
  display: inline-block;
  width: 35%;
  height: fit-content;
  vertical-align: top;
  clear: both;
}
.noteListOption
{
  display: block !important;
  height: fit-content !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.editDiv
{
  display: block;
  width: 100%;
}
.inputForm
{
  width: 100%;
}
.subjectFormField
{
  display: block;
  width: 50%;
}
.contentFormField
{
  display: block;
  width: 100%;
}

.success {
  color: rgb(19, 141, 19);
}
.error {
  color: #f44336;
}
.subtleError
{
    color: #d07973;
}

@media (max-width:600px)
{
  .noteSelection
  {
    display: inline-block;
    width: 35%;
    min-width: 300px;
    height: fit-content;
    vertical-align: top;
    clear: both;
  }
  .selectedNoteCard
  {
    display: inline-block;
    width: 63%;
    min-width: 300px;
    margin-left: 0px;
    margin-top: 15px;
  }
}
