button{
    margin: 10px;

    background-color: transparent;
    transition: 0.3s;
}
button:hover
{
    padding: 10px;
    font-size: 15pt;
}

.navmenu
{
  margin-top: 2%;
}

.navmenu mat-label
{
  font-size: large;
}


