<span>
</span>
<div class='navmenu'>
  <button mat-button [routerLink]="'/home'" class="button">
      <mat-label>Home</mat-label>
  </button>
  <app-adminnav *ngIf="auth.loggedIn"></app-adminnav>
  <app-usernav *ngIf="auth.loggedIn"></app-usernav>
  <app-defaultnav *ngIf="!auth.loggedIn"></app-defaultnav>
  
</div>
<!-- <div class="navmenu">
  <button mat-button class="button" (click)="showNewUser()">
    <mat-label>New Incoming User</mat-label>
  </button>
  <button mat-button class="button" (click)="showAdmin()">
    <mat-label>Logged-in Admin</mat-label>
  </button>
  <button mat-button class="button" (click)="showExistingUser()">
    <mat-label>Logged-in User</mat-label>
  </button>
</div> -->