<mat-horizontal-stepper>
  <mat-step *ngFor="let question of formQuestionsFormatted" [stepControl]="surveyFormGroup">
    <form [formGroup]="surveyFormGroup">
      <ng-template matStepLabel>{{ question.questionText}}</ng-template>
        <mat-label>{{ question.questionText }}</mat-label>
        <!-- Form for text field questions -->
        <mat-form-field class="inputForm" *ngIf="!question.isSurveyOptionList">
          <textarea matInput placeholder="Answer" formControlName="{{question.surveyQuestionID}}" required></textarea>
        </mat-form-field>
        <div class="error" *ngIf="surveyFormGroup.get(question.surveyQuestionID).errors && surveyFormGroup.get(question.surveyQuestionID).touched">
          <div *ngIf="surveyFormGroup.get(question.surveyQuestionID).errors.required">Answer is required</div>
          <div *ngIf="surveyFormGroup.get(question.surveyQuestionID).errors.maxlength">Answer is too long. 2000 Characters is the maximum</div>                  
        </div>

        <!-- Form for survey option lists (multiple choice) -->
        <mat-radio-group *ngIf="question.isSurveyOptionList" formControlName="{{question.surveyQuestionID}}" required>                             
          <mat-radio-button *ngFor="let option of question.surveyOptionList" [value]="option">
            {{option.optionText}}
          </mat-radio-button>
        </mat-radio-group>
        <div class="error" *ngIf="surveyFormGroup.get(question.surveyQuestionID).errors && surveyFormGroup.get(question.surveyQuestionID).touched">
          <div *ngIf="surveyFormGroup.get(question.surveyQuestionID).errors.required">Answer is required</div>             
        </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>