<mat-horizontal-stepper>
  <mat-step *ngFor="let question of formQuestionsFormatted" [stepControl]="surveyFormGroup">
    <form [formGroup]="surveyFormGroup">
      <ng-template matStepLabel>{{ question.questionText}}</ng-template>
        <mat-label>{{ question.questionText }}</mat-label>
        <!-- Form for text field questions -->
        <mat-form-field class="inputForm" *ngIf="!question.isSurveyOptionList">
          <input matInput
            [(ngModel)]="question.responseInputText"
            formControlName="inputQuestion"
            placeholder="Answer">
        </mat-form-field>

        <!-- Form for survey option lists (multiple choice) -->
        <mat-radio-group *ngIf="question.isSurveyOptionList"
          [(ngModel)]="question.responseOptionSelected"
          formControlName="selectOption">
          <mat-radio-button class="example-radio-button" *ngFor="let option of question.surveyOptionList" [value]="option">
            {{option.optionText}}
          </mat-radio-button>
        </mat-radio-group>
    </form>
  </mat-step>
</mat-horizontal-stepper>