.action-button
{
    margin: 5px !important;
}
#info-div
{
  min-width: 600px;
  width: 80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.infoCard
{
    width: 100%;
    min-width: 300px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.selected-anon-container
{
  position: fixed;
  width: 85%;
  min-width: 600px;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 3;
  border-radius: 8px;
}
.contact-container
{
  position: fixed;
  width: 85%;
  min-width: 600px;
  height: fit-content;
  max-height: 90vh;
  padding: 15px;
  background-color: white;
  z-index: 2;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}
.contact-container::-webkit-scrollbar {
  display: none;
}
#overlay
{
    position: fixed; /* Sit on top of the page content */
    display: block;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.fixedDiv
{
  position: absolute;
  top:2%;
  bottom: 2%;
  right: 5%;
  left: 5%;
  border-radius: 8px;
  background-color: white;
}
.fixedDiv::-webkit-scrollbar {
    display: none;
}
