<div id="overlay" *ngIf="showClientCard == true || showChat == true" (click)="hideWindow();">
</div>

<div class="selected-anon-container mat-elevation-z3" *ngIf="showClientCard == true">
  <div class="fixedDiv mat-elevation-z6">
      <app-selected-anon
      [loadingClient]="loadingClient"
      [client]="selectedAnon"
      (actionTaken)="updateChats(true, true)"
      (refreshSelectedClient)="updateSelectedClient($event)"
      (setClickAwayLockEvent)="setClickawayLock($event)"></app-selected-anon>
  </div>
</div>
<div class="contact-container mat-elevation-z3" *ngIf="showChat == true">
    <app-contact-panel #messages
      (messageUpdatedEvent)="updateChats($event)"
      (manualRefreshClickedEvent)="manualRefreshSelectedChat($event, false)"
      [refreshing]="refreshing"
      [showActionProgressBar]="postingMessage || puttingMessage"
      [showLoading]="gettingAllChats || gettingSelectedHistory && selectedHistory.subjectMessages.length + selectedHistory.recieverMessages.length == 0"
      [selectedHistory]="selectedHistory"
      [sendingClientMeta]="adminSenderMeta"></app-contact-panel>
    <app-input-control
      (sendClicked)="send($event); messages.scrollToBottom();"
      (readAllAction)="readAll()"
      [relationshipID]="selectedHistory.relationXrefID"
      [eventType]="selectedHistory.eventType"
      [sender]="adminSenderMeta"
      [reciever]="selectedRecieverMeta"
      [disabled]="postingMessage">
    </app-input-control>
</div>
<div id="info-div">
  <mat-card class="list-card mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Correspondence</mat-card-title>
      <mat-card-subtitle>For keeping contact with anons organized and in line</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="initializing">
      <app-loading-spin></app-loading-spin>
    </mat-card-content>
    <mat-card-content *ngIf="!initializing">
      <!-- Unread Histories -->
      <mat-card class="infoCard">
        <mat-card-header>
          <mat-card-title>Unread</mat-card-title>
          <mat-card-subtitle>Unread messages and requests from anons</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!gettingAllChats && sortByUnread().length == 0">(No unread messages to display)</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-small-loading-spin *ngIf="gettingAllChats"></app-small-loading-spin>
          <app-chat-histories *ngIf="!gettingAllChats && sortByUnread().length > 0"
            [viewerClient]="subject"
            [disabled]="updateOnClickaway"
            [isRefreshingChats]="gettingAllChats || gettingSelectedHistory || updateOnClickaway"
            [histories]="sortByUnread()"
            (recipientSelectedEvent)="populateSelectAnonCard($event.meta)"
            (chatSelectedEvent)="openSelectedChat($event)"></app-chat-histories>
        </mat-card-content>
      </mat-card>

      <!-- General Histories -->
      <mat-card class="infoCard">
        <mat-card-header>
          <mat-card-title>General</mat-card-title>
          <mat-card-subtitle>General correspondence histories are not attatched to specific assignments</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-small-loading-spin *ngIf="gettingAllChats"></app-small-loading-spin>
          <app-chat-histories *ngIf="!gettingAllChats"
            [viewerClient]="subject"
            [disabled]="updateOnClickaway"
            [isRefreshingChats]="gettingAllChats || gettingSelectedHistory || updateOnClickaway"
            [histories]="sortByGeneral()"
            (recipientSelectedEvent)="populateSelectAnonCard($event.meta)"
            (chatSelectedEvent)="openSelectedChat($event)"></app-chat-histories>
        </mat-card-content>
      </mat-card>

      <!-- Event Histories -->
      <mat-card class="infoCard" *ngFor="let event of events">
        <mat-card-header>
          <mat-card-title>{{ event.eventDescription }} Chats</mat-card-title>
          <mat-card-subtitle>List of all anon conversations for the {{ event.eventDescription }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-small-loading-spin *ngIf="gettingAllChats"></app-small-loading-spin>
          <app-chat-histories *ngIf="!gettingAllChats"
            [viewerClient]="subject"
            [disabled]="updateOnClickaway"
            [isRefreshingChats]="gettingAllChats || gettingSelectedHistory || updateOnClickaway"
            [histories]="sortByEvent(event)"
            (recipientSelectedEvent)="populateSelectAnonCard($event.meta)"
            (chatSelectedEvent)="openSelectedChat($event)"></app-chat-histories>
        </mat-card-content>
      </mat-card>

      <!-- Status Histories -->
      <mat-card class="infoCard" *ngFor="let assignmentStatus of assignmentStatuses">
        <mat-card-header>
          <mat-card-title>{{ assignmentStatus.assignmentStatusName }} Assignments</mat-card-title>
          <mat-card-subtitle>List of all anon conversations that have the "{{ assignmentStatus.assignmentStatusName }}" status</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-small-loading-spin *ngIf="gettingAllChats"></app-small-loading-spin>
          <app-chat-histories *ngIf="!gettingAllChats"
            [viewerClient]="subject"
            [disabled]="updateOnClickaway"
            [isRefreshingChats]="gettingAllChats || gettingSelectedHistory || updateOnClickaway"
            [histories]="sortByAssignmentStatus(assignmentStatus)"
            (recipientSelectedEvent)="populateSelectAnonCard($event.meta)"
            (chatSelectedEvent)="openSelectedChat($event)"></app-chat-histories>
        </mat-card-content>
      </mat-card>

      <!-- All -->
      <mat-card class="infoCard">
        <mat-card-header>
          <mat-card-title>All</mat-card-title>
          <mat-card-subtitle>List of all contact histories for contacted anons</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-small-loading-spin *ngIf="gettingAllChats"></app-small-loading-spin>
          <app-chat-histories *ngIf="!gettingAllChats"
            [viewerClient]="subject"
            [disabled]="updateOnClickaway"
            [isRefreshingChats]="gettingAllChats || gettingSelectedHistory || updateOnClickaway"
            [histories]="allChats"
            (recipientSelectedEvent)="populateSelectAnonCard($event.meta)"
            (chatSelectedEvent)="openSelectedChat($event)"></app-chat-histories>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>
</div>
