<div id="overlay" *ngIf="showClientCard == true || showChat == true" (click)="hideWindow();">
</div>

<div class="container mat-elevation-z3 clientCard" *ngIf="showClientCard == true">
  <div class="fixedDiv mat-elevation-z6">
      <app-selected-anon
      [client]="selectedAnon"
      (refreshSelectedClient)="updateSelectedClient($event)"></app-selected-anon>
  </div>
</div>
<div class="container chatContainer mat-elevation-z3 clientCard" *ngIf="showChat == true">
    <app-contact-panel #messages
      (messageUpdatedEvent)="updateChats($event)"
      [showLoading]="gettingAllChats || gettingAllEventChats || gettingSelectedChat && selectedHistory.history.length == 0"
      [selectedHistory]="selectedHistory"
      [sendingClientMeta]="adminSenderMeta"></app-contact-panel>
    <app-input-control
      (sendClicked)="send($event); messages.scrollToBottom();"
      (readAllClicked)="readAll()"
      [relationshipID]="selectedHistory.relationXrefID"
      [sender]="adminSenderMeta"
      [reciever]="selectedRecieverMeta"
      [disabled]="postingMessage">
    </app-input-control>
</div>
<div id="info-div">
  <mat-card class="list-card mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Correspondence</mat-card-title>
      <mat-card-subtitle>For contacting anons</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <!-- Unread Histories -->
      <mat-card class="infoCard">
        <mat-card-header>
          <mat-card-title>Unread</mat-card-title>
          <mat-card-subtitle>Unread messages and requests from anons</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!gettingAllChats && sortByUnread().length == 0">(No unread messages to display)</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-small-loading-spin *ngIf="gettingAllChats"></app-small-loading-spin>
          <app-chat-histories *ngIf="!gettingAllChats && sortByUnread().length > 0"
            [disabled]="updateOnClickaway"
            [histories]="sortByUnread()"
            (recipientSelectedEvent)="populateSelectAnonCard($event.meta)"
            (chatSelectedEvent)="openSelectedChat($event)"></app-chat-histories>
        </mat-card-content>
      </mat-card>

      <!-- General Histories -->
      <mat-card class="infoCard">
        <mat-card-header>
          <mat-card-title>General</mat-card-title>
          <mat-card-subtitle>General chat histories not attatched to specific assignments</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-small-loading-spin *ngIf="gettingAllChats"></app-small-loading-spin>
          <app-chat-histories *ngIf="!gettingAllChats"
            [disabled]="updateOnClickaway"
            [histories]="sortByGeneral()"
            (recipientSelectedEvent)="populateSelectAnonCard($event.meta)"
            (chatSelectedEvent)="openSelectedChat($event)"></app-chat-histories>
        </mat-card-content>
      </mat-card>

      <!-- Event Histories -->
      <mat-card class="infoCard" *ngFor="let event of events">
        <mat-card-header>
          <mat-card-title>{{ event.eventDescription }} Chats</mat-card-title>
          <mat-card-subtitle>List of all anon conversations for the {{ event.eventDescription }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-small-loading-spin *ngIf="gettingAllChats"></app-small-loading-spin>
          <app-chat-histories *ngIf="!gettingAllChats"
            [disabled]="updateOnClickaway"
            [histories]="sortByEvent(event)"
            (recipientSelectedEvent)="populateSelectAnonCard($event.meta)"
            (chatSelectedEvent)="openSelectedChat($event)"></app-chat-histories>
        </mat-card-content>
      </mat-card>

      <!-- All -->
      <mat-card class="infoCard">
        <mat-card-header>
          <mat-card-title>All</mat-card-title>
          <mat-card-subtitle>List of all contact histories for contacted anons</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-small-loading-spin *ngIf="gettingAllChats"></app-small-loading-spin>
          <app-chat-histories *ngIf="!gettingAllChats"
            [disabled]="updateOnClickaway"
            [histories]="allChats"
            (recipientSelectedEvent)="populateSelectAnonCard($event.meta)"
            (chatSelectedEvent)="openSelectedChat($event)"></app-chat-histories>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>
</div>