
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Sender Column -->
  <ng-container matColumnDef="sender">
    <th mat-header-cell *matHeaderCellDef> Sender </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button>{{element.sender}}</button> </td>
  </ng-container>

  <!-- Recipient Column -->
  <ng-container matColumnDef="recipient">
    <th mat-header-cell *matHeaderCellDef> Recipient </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button>{{element.recipient}}</button> </td>
  </ng-container>

  <!-- Event Column -->
  <ng-container matColumnDef="event">
    <th mat-header-cell *matHeaderCellDef> Event </th>
    <td mat-cell *matCellDef="let element"> {{element.event}} </td>
  </ng-container>

  <!-- Contact Column -->
  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef> Contact History </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button matBadge="2">Contact</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="unreadMessageColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: unreadMessageColumns;"></tr>

</table>