
<div id="contact-div">
    <mat-card class="list-card mat-elevation-z5">
        <mat-card-header>
            <mat-card-title>Contact</mat-card-title>
            <mat-card-subtitle>Options for contacting Santapone</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div #chatFrame id="chat-window" class="mat-elevation-z7">
                <ng-container *ngFor="let message of selectedHistory.history">
                    <div class="date-div">
                        <span>{{ message.dateTimeSent }}</span>
                        <mat-divider [inset]="true"></mat-divider>
                    </div>
                    <div class="message mat-elevation-z3" [ngClass]="{'sent-message' : message.senderClient.clientID == profile.clientID,
                                     'recieved-message' : message.recieverClient.clientID == profile.clientID}">
                        <div class="nick-div">
                            <span *ngIf="message.senderClient.clientNickname != ''"> {{ message.senderClient.clientNickname }} </span>
                            <span *ngIf="message.senderClient.clientNickname == ''"> Admin </span>
                            <mat-divider [inset]="true"></mat-divider>
                        </div>
                        <p> {{ message.messageContent }} </p>
                    </div>
                </ng-container>  
            </div>
            <button mat-raised-button (click)="memberPostTest()">Member post test</button>
            <button mat-raised-button *ngIf="isAdmin" (click)="adminPostTest()">Admin post test</button>
        </mat-card-content>
    </mat-card>
</div>