
<div id="contact-div">
    <mat-card class="list-card mat-elevation-z5">
        <mat-card-header>
            <mat-card-title>Contact</mat-card-title>
            <mat-card-subtitle>Options for contacting Santapone</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <div id="chat-window" class="mat-elevation-z7">
            </div>
            <div id="button-container">
                <button class="chat-control-button" mat-raised-button>Button</button>
                <mat-divider [inset]="true"></mat-divider>
                <button class="chat-control-button" mat-raised-button>Button</button>
                <mat-divider [inset]="true"></mat-divider>
                <button class="chat-control-button" mat-raised-button>Button</button>
                <mat-divider [inset]="true"></mat-divider>
            </div>
        </mat-card-content>
    </mat-card>
</div>