mat-card
{
    vertical-align: top;
    text-align: left;
}
.list-card 
{
    width: 80%;
    min-width: 350px;
    display: inline-block;
}
.chat-control-button
{
    margin: 10px;
}
#contact-div
{
    width: 100%;
}
#chat-window
{
    height: 500px;
    border-radius: 25px;
    border: 2px solid;
    margin-left: 5px;
    margin-right: 5px;
}
#button-container
{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}