.container
{
  padding: 10px;
}
.leftChild{
  display: inline-block;
  width: 55%;
}
.rightChild{
  display: inline-block;
  width: 35%;
  float: right;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}