.container
{
  outline: 5px solid black;
  padding: 10px;
}
.leftChild{
  outline: 5px solid green;
  display: inline-block;
  height: 600px;
  width: 35%;
}
.rightChild{
  outline: 5px solid green;
  display: inline-block;
  height: 600px;
  width: 55%;
  float: right;
}
