.container
{
  outline: 5px solid black;
  padding: 10px;
}
.leftChild{
  outline: 5px solid green;
  display: inline-block;
  height: 600px;
  width: 35%;
}
.rightChild{
  outline: 5px solid green;
  display: inline-block;
  height: 600px;
  width: 55%;
  float: right;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}