
#info-div
{
    min-width: 350px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#addressChangeForm
{
    display: block;
}
#relationshipEventHeader
{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.infoCard
{
    width: 30%;
    min-width: 300px;
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 10px !important;
}
.action-button
{
    margin: 5px !important;
}
.questionText
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}
.expansionPanelButton
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.expansionPanelButtonContainer
{
    width: 100%;
    text-align: center;
}
.changeAnswerDiv
{
  margin-top: 10px;
}
.changeFormField
{
    display: block;
}
.error
{
    color: #F44336;
}
