
#info-div
{
    min-width: 350px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#addressChangeForm
{
    display: block;
}
#relationshipEventHeader
{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.infoCard
{
    width: 30%;
    min-width: 300px;
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px !important;
    text-align: left;
    vertical-align: top;
}
.left-margin
{
  margin-left: 15px;
}
.action-button
{
    margin: 5px !important;
}
.questionText
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}
.error
{
    color: #F44336;
}
.responseListDiv
{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
