.infoCard
{
    width: 30%;
    min-width: 300px;
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
    vertical-align: top;
}
.action-button
{
    margin: 5px !important;
}
#info-div
{
    min-width: 350px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}