<div id="info-div">
    <mat-card class="list-card mat-elevation-z5">
        <mat-card-header>
            <mat-card-title>Profile Information</mat-card-title>
            <mat-card-subtitle>Personal information</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <mat-card class="infoCard">
                <mat-card-header>
                    <mat-card-title>Holiday Information</mat-card-title>
                    <mat-card-subtitle>Holiday ID and name information</mat-card-subtitle>
                </mat-card-header>        
                <mat-card-content>
                    <p>Info goes here</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button class="action-button">Request name change</button>
                    <button mat-raised-button class="action-button">Request nickname change</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="infoCard">
                <mat-card-header>
                    <mat-card-title>Address</mat-card-title>
                    <mat-card-subtitle>Your mailing address</mat-card-subtitle>
                </mat-card-header>        
                <mat-card-content>
                    <p>Address goes here</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button class="action-button">Request address change</button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>