<div id="info-div">
    <mat-card class="mat-elevation-z5">
        <!-- Personal Information Card-->
        <mat-card-header>
            <mat-card-title>Profile Information</mat-card-title>
            <mat-card-subtitle>Personal information</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-card class="infoCard mat-elevation-z3">
                <mat-card-header>
                    <mat-card-title>Holiday Information</mat-card-title>
                    <mat-card-subtitle>Holiday ID and name information</mat-card-subtitle>
                </mat-card-header>        
                <mat-card-content>
                    <app-small-loading-spin *ngIf="loading"></app-small-loading-spin>
                    <h3 *ngIf="!loading">{{profile.clientNickname}}</h3>
                    <p *ngIf="!loading">{{profile.clientName}}</p>
                </mat-card-content>
            </mat-card>

            <!-- Address card -->
            <mat-card class="infoCard mat-elevation-z3">
                <mat-card-header>
                    <mat-card-title>Address</mat-card-title>
                    <mat-card-subtitle>Your mailing address</mat-card-subtitle>
                </mat-card-header>        
                <mat-card-content>
                    <app-small-loading-spin *ngIf="loading"></app-small-loading-spin>
                    <div *ngIf="!loading">
                        <p>{{ profile.address.addressLineOne }}</p>
                        <p>{{ profile.address.addressLineTwo }}</p>
                        <p>{{ profile.address.city }}</p>
                        <p>{{ profile.address.state }}</p>
                        <p>{{ profile.address.postalCode }}</p>
                        <p>{{ profile.address.country }}</p>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Response Card -->
            <mat-toolbar id="relationshipEventHeader">
                <mat-toolbar-row>
                    Survey Answers
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-card class="infoCard mat-elevation-z3" *ngFor="let event of events">
                <mat-card-header>
                    <mat-card-title>{{event.eventDescription}} Survey Responses</mat-card-title>
                    <mat-card-subtitle>Your own answers for the {{event.eventDescription}} survey</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-accordion multi>
                        <!-- Expansion panels for responses -->
                        <mat-expansion-panel *ngFor="let response of profile.responses">
                            <mat-expansion-panel-header *ngIf="event.eventTypeID == response.responseEvent.eventTypeID">
                                <mat-panel-title>
                                    <span class="questionText">{{response.surveyQuestion.questionText}}</span>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon 
                                    matTooltip="{{response.surveyQuestion.questionText}}"
                                    [matTooltipPosition]="'right'">question_answer</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>{{response.responseText}}</p>
                        </mat-expansion-panel>

                    </mat-accordion>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>

</div>