<!-- Add global survey card-->
<mat-card class="api-card mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Add Survey</mat-card-title>
        <mat-card-subtitle>Add surveys to the api</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <!--All Survey list-->
        <mat-toolbar>All currently available surveys</mat-toolbar>

        <div>
            <app-small-loading-spin *ngIf="gatheringAllSurveys || postingNewSurvey"></app-small-loading-spin>

            <mat-chip-list *ngIf="!postingNewSurvey && !gatheringAllSurveys">
                <mat-chip *ngFor="let survey of allSurveys"><span class="surveyText">{{survey.surveyDescription}}</span></mat-chip>
            </mat-chip-list>
        </div>
        <mat-divider [inset]="true"></mat-divider>
    </mat-card-content>
</mat-card>

<!-- Questions that are part of this survey -->

<!-- Selectable question list for questions that can be added to this survey (Needs API multiple response update) -->
