<!-- Add global survey card-->
<mat-card class="api-card mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Add Survey</mat-card-title>
        <mat-card-subtitle>Add surveys to the api</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <!--All Survey list-->
        <mat-toolbar>All currently available surveys</mat-toolbar>

        <div>
            <app-small-loading-spin *ngIf="this.gatherer.gatheringAllSurveys || postingNewSurvey"></app-small-loading-spin>

            <mat-chip-list *ngIf="!postingNewSurvey && !this.gatherer.gatheringAllSurveys">
                <mat-chip *ngFor="let survey of allSurveys"><span class="surveyText">{{survey.surveyDescription}}</span></mat-chip>
            </mat-chip-list>
        </div>
        <mat-divider [inset]="true"></mat-divider>

        <form [formGroup]="addSurveyFormGroup" *ngIf="!postingNewSurvey && !this.gatherer.gatheringAllSurveys">
            <mat-form-field id="surveyField">
                <mat-label>New Survey</mat-label>
                <input matInput #surveyInput
                    formControlName="newSurvey"
                    placeholder="Ex. Happy Camper"
                    maxlength="50" minlength="2" pattern="[A-Za-z0-9 ]{2,50}">
            </mat-form-field>
        </form>
        
        <!--Survey Control buttons-->
        <div id="surveyButtonContainer">
            <button class="surveyButton" 
            mat-raised-button
            matTooltip="Add survey to the list of surveys"
            (click)="addNewSurvey()"
            [disabled]="!addSurveyFormGroup.valid || !addSurveyFormGroup.touched || newSurvey?.length == 0 || newSurvey == undefined || newSurvey == '' "
            [matTooltipPosition]="'left'">Add Survey</button>
        </div>
    </mat-card-content>
</mat-card>

<!-- <button class="surveyButton" (click)="testGather()">Gather</button> -->

<!-- Edit global Survey card-->
<mat-card class="api-card mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Edit Survey</mat-card-title>
        <mat-card-subtitle>Edit a survey's name in API</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <!--All Survey Chip list-->
        <mat-toolbar>All currently editable surveys</mat-toolbar>

        <div>
            <app-small-loading-spin *ngIf="this.gatherer.gatheringAllSurveys"></app-small-loading-spin>
            
            <mat-chip-list *ngIf="!this.gatherer.gatheringAllSurveys" (selectable)="true" (change)="unsetSelectedSurvey()">
                <mat-chip *ngFor="let survey of allSurveys" [value]="survey" (click)="setSelectedSurvey(survey);"><span class="surveyText">{{survey.surveyDescription}}</span></mat-chip>
            </mat-chip-list>
        </div>

        <ng-container *ngIf="selectedSurvey != undefined">
            <mat-divider [inset]="true"></mat-divider>
            <div id="selectedEditChipDiv">
                <mat-chip id="selectedEditChip"><span id="selectedEditChipSpan">{{ selectedSurvey.surveyDescription }}</span></mat-chip>
            </div>
            <mat-divider [inset]="true"></mat-divider>
        

            <app-small-loading-spin *ngIf="updatingSurveyName"></app-small-loading-spin>
            <form [formGroup]="editSurveyFormGroup" *ngIf="!this.gatherer.gatheringAllSurveys && !updatingSurveyName">
                <mat-form-field id="surveyField">
                    <mat-label>New Survey Name</mat-label>
                    <input matInput
                        formControlName="editSurvey"
                        placeholder="Ex. Happy Camper"
                        maxlength="50" minlength="2" pattern="[A-Za-z0-9 ]{2,50}">
                </mat-form-field>
            </form>
            
            
            <!--Survey Control buttons-->
            <div id="surveyButtonContainer">
                <button class="surveyButton" 
                mat-raised-button
                matTooltip="Add survey to the list of surveys"
                (click)="editSurvey()"
                [disabled]="selectedSurvey == undefined || !editSurveyFormGroup.touched || !editSurveyFormGroup.valid"
                [matTooltipPosition]="'left'">Submit</button>
            <button class="surveyButton"
                (click)="selectedSurvey = undefined"
                mat-raised-button
                matTooltip="Cancel Survey Action"
                [matTooltipPosition]="'right'">Cancel</button>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>

<!-- Delete global Survey card-->
<mat-card class="api-card mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Delete Survey</mat-card-title>
        <mat-card-subtitle>Delete a global survey</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <!--All Survey Chip list-->
        <mat-toolbar>All currently deletable surveys</mat-toolbar>
        <div id="deleteInformationalText">
            <mat-card-subtitle>Surveys already assigned to users are not deletable</mat-card-subtitle>
        </div>
        <mat-divider [inset]="true"></mat-divider>

        <div>
            <app-small-loading-spin *ngIf="this.gatherer.gatheringAllSurveys || deletingSurvey"></app-small-loading-spin>
            
            <mat-chip-list *ngIf="!this.gatherer.gatheringAllSurveys && !deletingSurvey">
                <mat-chip *ngFor="let survey of deletableSurveys" [value]="survey"><span class="surveyText">{{survey.surveyDescription}}</span><mat-icon matChipRemove (click)="deleteSurvey(survey)">cancel</mat-icon></mat-chip>
            </mat-chip-list>
        </div>
    </mat-card-content>
</mat-card>