mat-chip
{
    max-width: 200px;
}
mat-chip-list
{
    margin: 5px;
}
.surveyText
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.api-card
{
    width: 325px;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
}
