<table mat-table [dataSource]="histories" id="data-table" class="mat-elevation-z8">
    
    <!-- Sender Column -->
    <ng-container matColumnDef="sender">
      <th mat-header-cell *matHeaderCellDef> Sender </th>
      <td mat-cell *matCellDef="let history">
        <div class="senderContainer">
          <div class="senderInfoDiv">
            <button mat-raised-button class="reactive" *ngIf="!onProfile && history.assignmentRecieverClient.clientID != null && history.assignmentSenderClient.clientID != null"
              (click)="emitSelectedRecipientInformation(history.assignmentSenderClient, history.eventType)">{{ history.assignmentSenderClient.clientNickname }}</button>
              <button mat-raised-button class="reactive" *ngIf="!onProfile && history.relationXrefID == null"
              (click)="emitSelectedRecipientInformation(history.conversationClient, null)">{{ history.conversationClient.clientNickname }}</button>
            <span *ngIf="onProfile">{{history.assignmentSenderClient.clientNickname}}</span>
          </div>
          <img class="senderImage" [ngClass]="{'cardExchangeIcon' : history.eventType.eventDescription == 'Card Exchange','giftExchangeIcon' : history.eventType.eventDescription == 'Gift Exchange'}">
        </div>
      </td>
    </ng-container>

    <!-- Recipient Column -->
    <ng-container matColumnDef="recipient">
      <th mat-header-cell *matHeaderCellDef> Recipient </th>
      <td mat-cell *matCellDef="let history">
        <span *ngIf="history.assignmentRecieverClient.clientNickname == undefined || history.assignmentRecieverClient.clientNickname == ''">----------------------</span>
        <button class="reactive" *ngIf="history.assignmentRecieverClient.clientNickname != undefined && history.assignmentRecieverClient.clientNickname != ''"
          (click)="emitSelectedRecipientInformation(history.assignmentRecieverClient, history.eventType)" mat-raised-button>{{ history.assignmentRecieverClient.clientNickname }}</button>
      </td>
    </ng-container>
  
    <!-- Event Column -->
    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef> Event </th>
      <td mat-cell *matCellDef="let history">
        <span class="reactive" *ngIf="history.eventType.eventDescription != null">{{history.eventType.eventDescription}}</span>
        <span class="reactive" *ngIf="history.eventType.eventDescription == null">General Correspondence</span> </td>
    </ng-container>

    <!-- Contact Column -->
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef> Admin Contact History </th>
      <td mat-cell *matCellDef="let history">
        <button mat-raised-button class="historyButton"
          (click)="emitSelectedHistory(history);"
          [disabled]="disabled"
          [matBadge]="!isAdmin ? history.unreadCount : history.adminUnreadCount"
          [matBadgeHidden]="!isAdmin ? history.unreadCount == 0 : history.adminUnreadCount == 0">History</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
