tr
{
    vertical-align: middle;
}
th
{
    text-align: center;
}
#data-table
{
    width: 100%;
    text-align: left;
}

.senderContainer
{
    display: block;
    width: fit-content;
}
.senderInfoDiv
{
    display: inline-block;
    height: 100%;
}
.senderImage
{
    width: 60px;
    position: relative;
    bottom: 8px;
    left: 15px;
}
.cardExchangeIcon
{
    content: url(../../../assets/images/cardAndClawWithoutSparkle.png);
}
.giftExchangeIcon
{
    content: url(../../../assets/images/presentWithOneFin.png);
}
.reactive
{
    display: block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
    margin-right: 10px;
}
.chatDescription
{
    width: 170px;
    text-align: left;
}
.historyButton
{
    width: 150px;
}
.header
{
  text-align: left;
}
.senderAssignmentButton
{
  width: 125px;
  text-align: center;
}
@media (max-width:600px)
{
    .reactive
    {
      display: block;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 70px;
      margin-left: auto;
      margin-right: auto;
    }
    .chatDescription
    {
      display: block;
      text-align: center;
      width: 70px;
      white-space: normal;
      word-wrap: normal;
    }
    .senderAssignmentButton
    {
      width: 85px;
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
    }
    .header
    {
      text-align: center;
    }
    .senderImage
    {
        display:none;
    }
    .cardExchangeIcon
    {
        display:none;
    }
}
