tr {
  vertical-align: middle;
}
th {
  text-align: center;
}
#data-table {
  width: 100%;
  text-align: left;
}

.senderContainer {
  display: block;
  width: fit-content;
}
.senderInfoDiv {
  display: inline-block;
  height: 100%;
}
.senderImage {
  width: 60px;
  position: relative;
  bottom: 8px;
  left: 15px;
}
.cardExchangeIcon {
  content: url(../../../assets/images/cardAndClawWithoutSparkle.png);
}
.giftExchangeIcon {
  content: url(../../../assets/images/presentWithOneFin.png);
}
.completedTd {
  background-image: url(../../../assets/images/stamp.png);
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
  background-position-x: left;
}
.reactive {
  display: block;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
  max-width: 130px;
  margin-right: 5px;
  margin-left: 5px;
}
.chatDescription {
  width: 170px;
  text-align: left;
}
.historyButton {
  width: 145px;
}
.header {
  text-align: left;
}
.reactiveDataColumn {
  width: 130px;
}
.senderAssignmentButton {
  width: 125px;
  text-align: center;
}
.smallFont {
  font-size: small !important;
}

/* Scrollbar Styling */
.vScroller
{
  height: 500px !important;
  max-height: 500px;
}
.scrollDiv
{
  max-height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
}
.scrollbar {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285f4;
}


@media (max-width: 600px) {
  .reactive {
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
  }
  .reactiveDataColumn {
    width: 75px;
  }
  .chatDescription {
    display: block;
    width: 50px;
    white-space: normal;
    word-wrap: normal;
  }
  .senderAssignmentButton {
    width: 85px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .header {
    text-align: center;
  }
  .senderImage {
    display: none;
  }
  .cardExchangeIcon {
    display: none;
  }
}
