<mat-card class="formCard mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>Anon's Information</mat-card-title>
    <mat-card-subtitle>Personal info about the Anon's identity</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>Content</mat-card-content>
  <mat-card-actions>Actions</mat-card-actions>
</mat-card>

<mat-card class="formCard mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>Anon's Shipping Information</mat-card-title>
    <mat-card-subtitle>Shipping Address of the Anon</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>Content</mat-card-content>
  <mat-card-actions>Actions</mat-card-actions>
</mat-card>

<mat-card class="formCard mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>Anon's Responses</mat-card-title>
    <mat-card-subtitle>Anon's Responses to surveys</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>Content</mat-card-content>
  <mat-card-actions>Actions</mat-card-actions>
</mat-card>
