.searchBarContainer
{
  display: block;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: white;
  border-radius: 8px;
}
.searchBarDiv
{
  display: block;
  width: 100%;
}
.searchBarFormField
{
  display: block;
  width: 90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
.previewChipsDiv
{
  display: block;
  width: 90%;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}
.helperObjectsContainer
{
  display: block;
  width: 90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 8px;
}
.helperCard
{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.actionButtonDiv
{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
}
.actionButton
{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.helperDiv
{
  display: block;
  width: 90%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.helperDividerStyle
{
  margin-left: auto !important;
  margin-right: auto !important;
  width: 87%;
}
.chipDiv
{
  display: block;
  width: 100%;
  margin-top: 15px;
}
.chip
{
  display: inline-block;
  text-align: center;
  width: 150px;
  margin: 2px;
}
.chipText
{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.notice
{
    color: #d07973;
}
.foundClientContainer
{
  display: block;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: white;
  border-radius: 8px;
}
.spinnerWrap {
  display: block;
  text-align: center;
  margin-top: 15px;
}
.inline
{
  display: inline-block;
}
.notice
{
  color: #d07973;
}
.tagList
{
  margin-left: 10px;
}
