<mat-toolbar>Approved Anons</mat-toolbar>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              class="mat-elevation-z4">
</mat-paginator>
<app-loader></app-loader>
<mat-list>
    <mat-card mat-list-item *ngFor="let santa of approvedClients" appMaterialElevation>
        <mat-card-title>
            {{ santa.nickname }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ santa.email }}
        </mat-card-subtitle>
        <mat-card-content>
            Client Name: {{ santa.clientName }}
        </mat-card-content>
    </mat-card>
</mat-list>