mat-card {
    text-align: left;
    margin-top: 5px;
}
#paginatorRow
{
    display: inline-block;
    width: 100%;
    background-color: white;
}
#paginatorDiv
{
    display: block;
    width: 50%;
    float: right;
}
#iconDiv
{
    display: block;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin-top: 10px;
}
.controlButton
{
    display: inline-block;
    margin-left: 10px;
}
.controlButton:hover
{
    cursor: pointer;
    background-color: #E1E1E1;
}
.icons
{
    width: 100%;
    height: 100%;
    padding: 5px
}
.spinnerWrap {
    display: inline-block;
    padding: 30px;
}
.tagText
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.inline
{
  display: inline-block;
}
.tagList
{
  margin-left: 10px;
}
.notice
{
    color: #d07973;
}
.countSubtitle
{
  display: inline-block;
  margin-left: 10px;
}
