.contentDiv {
    display: block;
    margin: 15px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background-color: white;
    width: 90%;
    min-width: 400px;
}

.small-box {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    min-width: 150px;
    text-align: center;
    height: auto;
    width: auto;
    background-color: white;
}
#overlay
{
  position: fixed; /* Sit on top of the page content */
  display: block;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#tabGroupContainer
{
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%;
  min-width: 600px;
  background-color: white;
  border-radius: 8px;
}
.overlay-container
{
  position: fixed;
  min-width: 600px;
  max-height: 90%;
  width: 90%;
  height: fit-content;
  padding: 15px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;
  background-color: white;
  border-radius: 8px;
}
@media (max-width:600px)
{
  #tabGroupContainer
  {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    min-width: 600px;
    background-color: white;
    border-radius: 8px;
  }
}

