mat-drawer
{
  background-color: transparent;
  width: 200px;
}
mat-drawer-content
{
  align-content: center;
}
.sidenav-container
{
  height: fit-content;
  width: fit-content;
  text-align: center;
  background-color: white;
  display: inline-block;
}
#component-div
{
  display: inline-block;
  width: fit-content;
  min-width: 550px;
  text-align: center;
}
#container
{
  width: 100%;
  height: 100%;
  display: flex;
}
@media (max-width:550px)
{
  #component-div
  {
    display: block;
    width: fit-content;
    text-align: center;
  }
  .sidenav-container
  {
    height: fit-content;
    width: 100%;
    min-width: 550px;
    text-align: center;
    background-color: white;
  }
  #container
  {
    width: 100%;
    height: 100%;
    display: block;
  }
}