<div class="adminControlContainer">
  <mat-tab-group class="tabGroup" mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Tag Control">
      <div class="componentDiv tagControlDiv">
        <app-tag-control [allTags]="allTags"></app-tag-control>
      </div>
    </mat-tab>
    <mat-tab label="Mass-Assignment Control">
      <div class="componentDiv massControlDiv">
        <app-auto-assignment [allClients]="allClients"></app-auto-assignment>
      </div>
    </mat-tab>
    <mat-tab label="Event Type Control" *ngIf="isDev">
      <div class="componentDiv eventControlDiv">
        <app-event-control [allEvents]="allEvents"></app-event-control>
      </div>
    </mat-tab>
    <mat-tab label="Survey Control" *ngIf="isDev">
      <div class="componentDiv surveyControlDiv">
        <app-survey-control [allSurveys]="allSurveys" [allQuestions]="allQuestions"></app-survey-control>
        <app-question-control [allQuestions]="allQuestions"></app-question-control>
      </div>
    </mat-tab>
    <mat-tab label="Yule Log">
      <div class="componentDiv yuleLogControlDiv">
        <app-yule-log
        [allCategories]="allCategories"
        [allYuleLogs]="allYuleLogs"></app-yule-log>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


