mat-drawer
{
  background-color: transparent;
  width: 200px;
}
mat-drawer-content
{
  width: 100%;
  align-content: center;
}
.sidenav-container
{
  height: 100%;
}
#component-div
{
    width: 100%;
    text-align: center;
    padding-right: 200px;
}
#component-container
{
  height: 100%;
}