<div class="container mat-elevation-z2">
    <div class="contentDiv mat-elevation-z4">
        <div class="small-box mat-elevation-z3">
            <app-incoming-signups></app-incoming-signups>
        </div>
    </div>
    <div class="contentDiv mat-elevation-z2">
        <div class="small-box mat-elevation-z3">
            <app-approved-anons></app-approved-anons>
        </div>
    </div>
    <div class="contentDiv mat-elevation-z2">
        <div class="small-box mat-elevation-z3">
            <app-incoming-correspondence></app-incoming-correspondence>
        </div>
    </div>
</div>