<div id="overlay" *ngIf="showClientCard || showManualSignupCard" (click)="hideOpenWindow(); signups.refreshSignupClientList(); approved.refreshApprovedClientList(); denied.refreshDeniedClientList(); completed.refreshCompletedClientList();" [@simpleFadeAnimation]="'in'">
</div>
<div class="container mat-elevation-z3 clientCard" *ngIf="showManualSignupCard">
  <div class="fixedDiv mat-elevation-z6">
      <app-manual-add
      (actionTaken)="signups.setAction($event); approved.setAction($event); denied.setAction($event); completed.setAction($event)"
      (clientPostedEvent)="showClientWindow($event)">
      </app-manual-add>
  </div>
</div>
<div class="container mat-elevation-z3 clientCard" *ngIf="showClientCard">
    <div class="fixedDiv mat-elevation-z6">
        <app-selected-anon
        [loadingClient]="false"
        [client]="currentClient"
        (actionTaken)="signups.setAction($event); approved.setAction($event); denied.setAction($event); completed.setAction($event)"
        (refreshSelectedClient)="updateSelectedClient($event)"
        (deletedAnon)="hideOpenWindow(true);">
        </app-selected-anon>
    </div>
</div>

<mat-tab-group id="tabGroupContainer" class="mat-elevation-z3" mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Incoming Sign-Ups">
        <div class="contentDiv mat-elevation-z4">
            <div class="small-box mat-elevation-z3">
                <app-incoming-signups #signups
                [gatheringAllClients]="gatheringAllClients"
                [incomingClients]="sortIncoming()"
                (clickedClient)="showClientWindow($event)"
                (manualSignUpClickedEvent)="showManualSignupWindow()"></app-incoming-signups>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Approved Anons">
        <div class="contentDiv mat-elevation-z2">
            <div class="small-box mat-elevation-z3">
                <app-approved-anons #approved
                [gatheringAllClients]="gatheringAllClients"
                [approvedClients]="sortApproved()"
                (clickedClient)="showClientWindow($event)"></app-approved-anons>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Denied Anons">
        <div class="contentDiv mat-elevation-z2">
            <div class="small-box mat-elevation-z3">
                <app-denied-anons #denied
                [gatheringAllClients]="gatheringAllClients"
                [deniedClients]="sortDenied()"
                (clickedClient)="showClientWindow($event)"></app-denied-anons>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Completed Anons">
        <div class="contentDiv mat-elevation-z2">
            <div class="small-box mat-elevation-z3">
                <app-completed-anons #completed
                [gatheringAllClients]="gatheringAllClients"
                [completedClients]="sortCompleted()"
                (clickedClient)="showClientWindow($event)"></app-completed-anons>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
