<div id="overlay" *ngIf="showClientCard == true" (click)="hideClientWindow(); signups.refreshSignupClientList(); approved.refreshApprovedClientList()" [@simpleFadeAnimation]="'in'">
</div>
<div class="container mat-elevation-z3 clientCard" *ngIf="showClientCard == true">
    <div class="fixedDiv mat-elevation-z6">
        <app-selected-anon [client]="currentClient" (action)="signups.setAction($event); approved.setAction($event)" (refreshSelectedClient)="updateSelectedClient($event)"></app-selected-anon>
    </div>
</div>

<mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Incoming Sign-Ups">
        <div class="contentDiv mat-elevation-z4">
            <div class="small-box mat-elevation-z3">
                <app-incoming-signups #signups (clickedClient)="showClientWindow($event)"></app-incoming-signups>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Approved Anons">
        <div class="contentDiv mat-elevation-z2">
            <div class="small-box mat-elevation-z3">
                <app-approved-anons #approved (clickedClient)="showClientWindow($event)"></app-approved-anons>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>