mat-card
{
    margin: 10px;
    vertical-align: top;
}
.list-card 
{
    width: 80%;
    min-width: fit-content;
    display: inline-block;
}
.selected-anon-card
{
    display: inline-block;
    min-width: 200px;
}

