<mat-card class="list-card mat-elevation-z5">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Assigned Anons</mat-card-title>
        <mat-card-subtitle>Anon's Assigned to you</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <table mat-table [dataSource]="recipients" id="data-table" class="mat-elevation-z8">
          
            <!-- Recipient Column -->
            <ng-container matColumnDef="recipient">
              <th mat-header-cell *matHeaderCellDef> Recipient </th>
              <td mat-cell *matCellDef="let recipient"> <button mat-raised-button (click)="openInformation(recipient)">{{recipient.clientNickname}}</button> </td>
            </ng-container>
          
            <!-- Event Column -->
            <ng-container matColumnDef="event">
              <th mat-header-cell *matHeaderCellDef> Event </th>
              <td mat-cell *matCellDef="let recipient"> {{recipient.recipientEvent.eventDescription}} </td>
            </ng-container>
        
            <!-- Contact Column -->
            <ng-container matColumnDef="contact">
              <th mat-header-cell *matHeaderCellDef> Admin Contact History </th>
              <td mat-cell *matCellDef="let recipient"> <button mat-raised-button (click)="openContactHistory(recipient)">Contact History</button> </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
          
        </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="openContactHistory(null)">General Chat</button>
    </mat-card-actions>
</mat-card>