<mat-card class="list-card mat-elevation-z5">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Assigned Anons</mat-card-title>
        <mat-card-subtitle>Anon's Assigned to you</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-chat-histories [histories]="histories"></app-chat-histories>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
      (click)="selectContactHistory(null)">General Chat</button>
      <button mat-raised-button
      (click)="log()">test Log</button>
    </mat-card-actions>
</mat-card>