<div class="container mat-elevation-z5">
    <mat-form-field appearance="fill">
      <mat-label>Enter a message</mat-label>
      <input class="inputField" matInput placeholder="Blah blah blah" [formControl]="messageFormControl" required>
      <mat-error *ngIf="messageFormControl.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <button mat-raised-button matTooltip="Send" class="controlButton" [disabled]="messageFormControl.hasError('required')">
        <mat-icon mat-icon-button (click)="emitMessage(messageFormControl.value)">send</mat-icon>
    </button>    
  </div>