mat-form-field
{
    width: 80%;
}
.container
{
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
}
.inputButton
{
    display: inline-block;
}
.controlButton
{
    display: inline-block;
    margin: 5px;
}
.error
{
    color: #F44336;
}
#buttonsDiv
{
    display: inline-block;
    width: 20%;
    text-align: center;
}