<button mat-button [routerLink]="'/profile'" class="navButton">
    <mat-label>Users</mat-label>
</button>
<button mat-button [routerLink]="'/assigments'" class="navButton">
    <mat-label>Events</mat-label>
</button>
<button mat-button [routerLink]="'/contact'" class="navButton">
    <mat-label>Surveys</mat-label>
</button>
<button mat-button [routerLink]="'/contact'" class="navButton">
    <mat-label>Questions</mat-label>
</button>
<button mat-button [routerLink]="'/contact'" class="navButton">
    <mat-label>Responses</mat-label>
</button>
