<button mat-button [routerLink]="'/api/user'" class="navButton">
    <mat-label>Users</mat-label>
</button>
<button mat-button [routerLink]="'/api/event'" class="navButton">
    <mat-label>Events</mat-label>
</button>
<button mat-button [routerLink]="'/api/survey'" class="navButton">
    <mat-label>Surveys</mat-label>
</button>
<button mat-button [routerLink]="'/api/question'" class="navButton">
    <mat-label>Questions</mat-label>
</button>
<button mat-button [routerLink]="'/api/response'" class="navButton">
    <mat-label>Responses</mat-label>
</button>
