mat-radio-button
{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
mat-label{
    display: block;
}
button
{
    margin-left: 10px;
}
.actionButtonContainer
{
  margin-top: 10px;
  margin-bottom: 5px;
}
.inputForm {
    display: block;

}
.error
{
    color: #F44336;
}
.viewNote
{
    color: rgba(0,0,0,.54);
}
