#button-container
{
  display: block;
  background-color: rgb(59, 59, 59);
  width: 100%;
  text-align: center;
}
.nav-container
{
  width: 100%;
  height: 200px;
  min-width: 600px;
}
.title{
  display: inline-block;
  width: 100%;
  height: 250px;
  vertical-align: top;
  background-image: url(../assets/banner/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
#wordContainer
{
  width: 100%;
}
#perspectiveContainer {
  position: absolute;
  height: 250px;
  width: fit-content;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  perspective: 60px;
}

#perspectiveContentDiv {
  display: block;
  height: 100px;
  width: 700px;
  margin-top: 35px;
  text-align: center;
  font-family: 'The Led Display St';
  font-weight: normal;
  font-style: normal;
  font-size: 51px;
  color: #C84254;
  transform-style: preserve-3d;
  transform: rotateX(-3deg);
}
.pipesContainer
{
  position: fixed;
  display: block;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #2B332C;
}
.backPipes
{
  display: inline-block;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  max-width: 60%;
}
.pipesFront
{
  display: inline-block;
  width: 70%;
  height: 100%;
  top: 100px;
  position: fixed;
}
.pipesMiddle
{
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  height: 100%;
  top: 0;
  max-width: 60%;
}
.pipesMiddleMirror
{
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 100%;
  max-width: 60%;
}
.allPipes
{
  height: 100%;
  background-image: url(../assets/images/pipes/pipes.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

@media (max-width:600px)
{
  .title{
    display: inline-block;
    width: 100%;
    height: 150px;
    vertical-align: top;
    background-image: url(../assets/banner/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .backPipes
  {
    display: none;
  }
  .pipesFront
  {
    display: none;
  }
  .pipesMiddle
  {
    display: none;
  }
  .pipesMiddleMirror
  {
    display: inline-block;
    position: fixed;
    min-width: 100%;
    padding-top: 200px;
  }
  #perspectiveContainer {
    position: absolute;
    height: 150px;
    width: fit-content;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    perspective: 60px;
  }

  #perspectiveContentDiv {
    display: block;
    height: 100px;
    width: 400px;
    margin-top: 18px;
    text-align: center;
    font-family: 'The Led Display St';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    color: #ce4355;
    transform-style: preserve-3d;
    transform: rotateX(-3deg);
  }
}

@font-face {
  font-family: 'The Led Display St';
  src: url('../assets/font/TheLedDisplaySt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* ANIMATION */
.flicker1 {
	-webkit-animation: flicker 4s linear infinite both;
	        animation: flicker 4s linear infinite both;
}
.flicker2 {
	-webkit-animation: flicker 5s linear infinite both;
	        animation: flicker 5s linear infinite both;
}
.flicker3 {
	-webkit-animation: flicker 6s linear infinite both;
	        animation: flicker 6s linear infinite both;
}
.flicker4 {
	-webkit-animation: flicker 7s linear infinite both;
	        animation: flicker 7s linear infinite both;
}
.flicker5 {
	-webkit-animation: flicker 6.5s linear infinite both;
	        animation: flicker 6.5s linear infinite both;
}
.flicker6 {
	-webkit-animation: flicker 4.5s linear infinite both;
	        animation: flicker 4.5s linear infinite both;
}

 @-webkit-keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  32.98% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  34% {
    opacity: 0;
  }
  34.02% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.9% {
    opacity: 0;
  }
  35.92% {
    opacity: 1;
  }
  38.98% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  39.8% {
    opacity: 0;
  }
  39.82% {
    opacity: 1;
  }
  83.98% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  84.9% {
    opacity: 0;
  }
  84.92% {
    opacity: 1;
  }
}
@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  32.98% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  34% {
    opacity: 0;
  }
  34.02% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.9% {
    opacity: 0;
  }
  35.92% {
    opacity: 1;
  }
  38.98% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  39.8% {
    opacity: 0;
  }
  39.82% {
    opacity: 1;
  }
  83.98% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  84.9% {
    opacity: 0;
  }
  84.92% {
    opacity: 1;
  }
}
