<mat-card class="containingCard mat-elevation-z5">
  <mat-card-header class="cardHeader">
    <div class="headerInfoDiv">
      <mat-card-title>{{ survey.surveyDescription }}</mat-card-title>
      <mat-card-subtitle>Answers for the {{ survey.surveyDescription }}</mat-card-subtitle>
      <mat-card-subtitle class="subtitleWarning" *ngIf="showDidNotAnswerWarning">None of the questions here are answered</mat-card-subtitle>
    </div>

    <div class="showAllButtonDiv">
      <button mat-raised-button (click)="showAll = !showAll" *ngIf="!showAll && survey.surveyQuestions.length > 1">Show All Responses</button>
      <button mat-raised-button (click)="showAll = !showAll" *ngIf="showAll">Hide All Responses</button>
    </div>
  </mat-card-header>
  <mat-card-content style="text-align: center;">
    <mat-selection-list #questionsSelectionList *ngIf="!viewingAssignment" class="questionSelection mat-elevation-z3" [disabled]="showAll" [multiple]="false">
      <mat-list-option class="questionListOption" *ngFor="let question of survey.surveyQuestions" [value]="question"
        (click)="setSelectedQuestion(question)">{{question.questionText}}</mat-list-option>
    </mat-selection-list>

    <mat-selection-list #questionsSelectionList *ngIf="viewingAssignment" class="questionSelection mat-elevation-z3" [disabled]="showAll" [multiple]="false">
      <mat-list-option class="questionListOption" *ngFor="let question of getViewableQuestions()" [value]="question"
        (click)="setSelectedQuestion(question)">{{question.questionText}}</mat-list-option>
    </mat-selection-list>

    <mat-card class="answerCard mat-elevation-z3" *ngIf="!showAll">
      <mat-card-header>
        <mat-card-title>
          {{ selectedQuestion.questionText != undefined ? selectedQuestion.questionText : "Select a question" }}
        </mat-card-title>
        <mat-card-subtitle>Answer for this question</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="selectedQuestion.questionText != undefined">

        <!-- Response shown here -->
        <mat-divider [inset]="true"></mat-divider>
        <div *ngIf="puttingResponse" class="spinnerDiv">
          <app-small-loading-spin ></app-small-loading-spin>
        </div>
        <span *ngIf="getResponseFromSelectedQuestion().responseText != undefined && !puttingResponse"
          class="responseText">{{ getResponseFromSelectedQuestion().responseText }}</span>
        <span *ngIf="getResponseFromSelectedQuestion().responseText == undefined && !puttingResponse" class="responseText error">An answer
          for this question does not exist</span>
        <mat-divider [inset]="true"></mat-divider>

        <!-- Form group field for editing reponse -->
        <div class="editDiv" *ngIf="editable" [formGroup]="surveyFormGroup">
          <ng-container *ngFor="let question of survey.surveyQuestions">
            <mat-form-field *ngIf="question.questionID == selectedQuestion.questionID" class="inputForm">
              <textarea matInput placeholder="Edit Answer" formControlName="{{getFormControlNameFromQuestion(question)}}"></textarea>
            </mat-form-field>
          </ng-container>
          <div class="error" *ngIf="surveyFormGroup.get(getFormControlNameFromQuestion(selectedQuestion)).errors && surveyFormGroup.get(getFormControlNameFromQuestion(selectedQuestion)).touched">
            <div *ngIf="surveyFormGroup.get(getFormControlNameFromQuestion(selectedQuestion)).errors.required">Answer is required</div>
            <div *ngIf="surveyFormGroup.get(getFormControlNameFromQuestion(selectedQuestion)).errors.maxlength">Answer is too long. 2000
              Characters is the maximum</div>
          </div>
        </div>
        <mat-card-subtitle *ngIf="!editable && !viewingAssignment" style="margin-top: 15px;">If you would like to edit your answer, reach out to the organizers with your General History correspondence button below</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!editable && viewingAssignment" style="margin-top: 15px;">If you have any questions about this answer, be sure to ask the organizers through this assignment's correspondence</mat-card-subtitle>
        <mat-card-actions *ngIf="editable" style="text-align: center;">
          <button mat-raised-button
            [disabled]="puttingResponse || surveyFormGroup.get(getFormControlNameFromQuestion(selectedQuestion)).invalid"
            (click)="submitNewResponse()">Submit</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <ng-container *ngIf="showAll">
      <div class="showAllDiv">
        <mat-card class="showAllAnswerCard showAllCardMargin mat-elevation-z3" *ngFor="let surveyQuestion of survey.surveyQuestions">
          <mat-card-header>
            <mat-card-title>{{surveyQuestion.questionText}}</mat-card-title>
            <mat-card-subtitle>Answer for this question</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <!-- Response shown here -->
            <mat-divider [inset]="true"></mat-divider>
            <span class="responseText" *ngIf="getResponseFromSelectedQuestion(surveyQuestion).responseText != undefined">{{ getResponseFromSelectedQuestion(surveyQuestion).responseText }}</span>
            <span class="responseText error" *ngIf="getResponseFromSelectedQuestion(surveyQuestion).responseText == undefined" >An answer for this question does not exist</span>
            <mat-divider [inset]="true"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
