

<div class="container">
    <div class="leftChild">
        <mat-card>
            <mat-card-title>
                Contact Santa Pone Headquarters
            </mat-card-title>
            <mat-card-content>
                <form>
                <!--<form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" > -->
                    <div>
                        <mat-form-field>
                            <input matInput type = "text" name = "fullName" placeholder = "Your full name">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput name = "email" placeholder = "Your email">
                        </mat-form-field>
                    </div>
                    <div >
                        <mat-form-field class = "message">
                            <textarea matInput   name = "message" placeholder = "Your message"></textarea>
                        </mat-form-field>
                    </div>
                    <div>
                        <h3>Purpose of contact</h3>
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">General Questions</mat-radio-button>
                            <mat-radio-button value="2">Login Questions</mat-radio-button>
                            <mat-radio-button value="2">Other Questions</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <button mat-button value = "Send"></button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="rightChild">

    </div>
</div>
