button {
    background-color: #ec407a;
    color:white
}
mat-radio-button {
    margin-left: 10px;
}
.container {
    display: flex;
    justify-content: center;
  }
.leftChild {
    width: 35%;
    margin: 10px;
}
.rightChild {
    width: 45%;
}

.leftChild div {
  width: 100%;
}

.message {
  width: 70%;
}
