mat-chip {
  max-width: 200px;
}
mat-chip-list {
  margin: 5px;
}
.apiCard {
  display: inline-block;
  vertical-align: top;
  width: 95%;
  min-width: 425px;
  margin: 15px;
  text-align: left;
}
.chipText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.logEntry {
  color: rgb(19, 141, 19);
  margin-top: 5px;
}
.spacingStyle {
  margin-top: 15px;
  margin-bottom: 15px;
}
.pairingComponentDiv
{
  display: inline-block;
  width: 45%;
  min-width: 450px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}
/* SELECTED ANON COMPONENT STYLES */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.container {
  position: fixed;
  width: 85%;
  min-width: 600px;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 3;
  border-radius: 8px;
  text-align: left !important;
}
.fixedDiv {
  position: absolute;
  top: 2%;
  bottom: 2%;
  right: 5%;
  left: 5%;
  border-radius: 8px;
  background-color: white;
}
.fixedDiv::-webkit-scrollbar {
  display: none;
}
.navigationButtonDiv
{
  display: block;
  margin-bottom: 15px;
}
.switchButton
{
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width:600px)
{
  .api-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .pairingComponentDiv
  {
    width: 90%;
  }
}
