.components {
  text-align: center;
  padding: 5px;
  background-color: white;
}
.component-container {
  width: 90%;
  min-width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 15px;
}
.request-container {
  display: block;
  position: fixed;
  width: 80%;
  height: fit-content;
  min-width: 600px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  z-index: 3;
  border-radius: 8px;
}
.contact-container {
  position: fixed;
  width: 85%;
  min-width: 600px;
  height: fit-content;
  max-height: 90vh;
  padding: 15px;
  background-color: white;
  z-index: 2;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}
.contact-container::-webkit-scrollbar {
  display: none;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
