
<div id="overlay" *ngIf="showOverlay == true" (click)="hideWindow()">
</div>

<!-- Chat Window -->
<div class="contact-container mat-elevation-z3" *ngIf="showChat">
    <app-contact-panel
      (messageUpdatedEvent)="softRefreshSelectedChat($event)"
      (manualRefreshClickedEvent)="manualRefreshSelectedChat($event)"
      [refreshing]="refreshing"
      [onProfile]="true"
      [selectedHistory]="selectedHistory"
      [sendingClientMeta]="selectedHistory.subjectClient"
      [showActionProgressBar]="puttingMessage || postingMessage || (gettingSelectedHistory && puttingMessage) || softUpdating"
      [showLoading]="gettingAllHistories || gettingGeneralHistory || gettingSelectedHistory"></app-contact-panel>
    <app-input-control
      (sendClicked)="send($event)"
      (readAllAction)="readAll()"
      [relationshipID]="selectedHistory.relationXrefID"
      [sender]="selectedHistory.subjectClient"
      [reciever]="adminRecieverMeta"
      [onProfile]="true"
      [eventType]="selectedHistory.eventType"
      [disabled]="postingMessage || refreshing || gettingSelectedHistory">
    </app-input-control>
</div>

<div class = "component-container">
    <div class="components mat-elevation-z3">
        <app-information
          [profile]="profile"
          [loading] = "gettingProfile"
          [surveys]="surveys"
        ></app-information>
        <app-control-panel
          (refreshClientEvent)="manualRefreshProfile($event)"
          (chatClickedEvent)="showSelectedChat($event)"
          [surveys]="surveys"
          [gettingAllHistories]="gettingAllHistories"
          [gettingGeneralHistory]="gettingGeneralHistory"
          [gettingSelectedHistory]="gettingSelectedHistory"
          [gettingProfile]="gettingProfile"
          [doneGettingInfo]="!initializing"
          [loading] = "gettingAllHistories || gettingGeneralHistory || gettingSelectedHistory"
          [generalHistory]="generalHistory"
          [profile]="profile"
          [histories]="histories">
        </app-control-panel>
    </div>
</div>
