/* .container {
    display: flex;
    justify-content: center;
    flex: 3;
    border-radius: 8px;
    margin-top: 15px;
    height: auto;
    flex-wrap: wrap;
    background-color:white;
    opacity: 1.0;
}
.contentDiv {
    margin: 15px;
    justify-items: center;
    border-radius: 8px;
    height: auto;
    color: white;
}
.small-box {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    min-width: 150px;
}
.small-box {
    text-align: center;
    height: auto;
    width: auto;
} */

.component-div
{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.component-container
{
    padding: 10px;
    height: 100%;
}