.components
{
    text-align: center;
    padding: 5px;
}
.component-container
{
    width: 90%;
    min-width: fit-content;
    margin: auto;
    padding: 5px;
    height: 100%;
    background-color: white;
}
.request-container
{
    display: block;
    position: fixed;
    width: 80%;
    height: fit-content;
    min-width: 450px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    z-index: 3;
    border-radius: 8px;
}
.container {
    position: fixed;
    background-color: white;
    z-index: 3;
    border-radius: 8px;
    left: 0;
    right: 0;
    top: 2%;
    max-height: 95%;
    overflow: scroll;
}
.chatContainer
{
    padding: 15px;
    height: fit-content;
}


/* ADD THESE TO CONTAINER IF YOU WANT A SCROLLBAR
.scrollbar
{
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
    border-radius: 8px;
}
    
.scrollbar-primary::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}
*/

#overlay
{
    position: fixed; /* Sit on top of the page content */
    display: block;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
