
<div id="overlay" *ngIf="showOverlay == true" (click)="hideWindow()">
</div>

<!-- Chat Window -->
<div class="container chatContainer mat-elevation-z3 clientCard" *ngIf="showChat == true">
    <app-contact-panel
        (messageUpdatedEvent)="updateChat($event)"
        [selectedHistory]="selectedHistory"
        [sendingClientMeta]="selectedHistory.conversationClient"
        [showLoading]="this.profileService.gettingSelectedHistory"></app-contact-panel>
    <app-input-control
        (sendClicked)="send($event)"
        [relationshipID]="selectedHistory.relationXrefID"
        [sender]="selectedHistory.conversationClient"
        [reciever]="adminRecieverMeta"
        [disabled]="postingMessage">
    </app-input-control>
</div>

<div class = "component-container">
    <div class="components mat-elevation-z3">
        <app-information
            [profile]="profile"
        ></app-information>
        <app-control-panel
            (chatClickedEvent)="showSelectedChat()"
            [generalHistory]="generalHistory"
            [profile]="profile"
            [histories]="histories">
        </app-control-panel> 
    </div>
</div>