.container
{
  padding: 10px;
  display: block;
  text-align: center;
}
.leftChild{
  display: inline-block;
  width: 55%;
}
.small-box, .large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.small-box {
  height: 100px;
  width: 100px;
}

.large-box {
  height: 300px;
  width: 300px;
}