<div class="container">
    <div class="child">
       <mat-tab-group>
          <mat-tab label="What is it?">
             <div class="small-box mat-elevation-z8 contentBox">
                <h1>The Time For Cheer!</h1>
                <p>The /mlp/ Secret Santa is a yearly tradition run by SantaPone for the /mlp/ board between (you) and all the other lovers
                  of pony out there
                </p>
                <h3>I live outside the US. Can I still participate?</h3>
                <p>The‌ ‌exchange‌ ‌is‌ ‌open‌ ‌to‌ ‌international‌ ‌participants.‌ ‌Be‌ ‌prepared‌ ‌for‌ ‌shipping‌ ‌costs‌ ‌and‌ ‌customs‌ fees!‌
                  ‌On‌ ‌the‌ ‌form,‌ ‌you‌ ‌will‌ ‌see‌ ‌an‌ ‌option‌ ‌asking‌ ‌whether‌ ‌you‌ ‌prefer‌ ‌to‌ ‌exchange‌ ‌internationally.‌ 
                  If‌ ‌you‌ ‌say‌ ‌no‌ ‌but‌ ‌there‌ ‌are‌ ‌no‌ ‌other‌ ‌participants‌ ‌from‌ ‌your‌ ‌home‌ ‌country‌ ‌I‌ ‌will‌ ‌alert‌ ‌you‌ ‌before‌ assignments go out.
                </p>
             </div>
          </mat-tab>
          <mat-tab label="Who is SantaPone?">
              <div class="small-box mat-elevation-z8 contentBox">

              </div>
          </mat-tab>
          <mat-tab label="I don't have a login!">
              <div class="small-box mat-elevation-z8 contentBox">
                  <h2>The Time For Cheer!</h2>
                  <p>The description of the event</p>
              </div>
          </mat-tab>
          <mat-tab label="/ss/ FAQ">
             <div>
                <mat-card class="mat-elevation-z8">
                   <mat-card-header>
                      <mat-card-title>/mlp/ Secret Santa</mat-card-title>
                   </mat-card-header>
                   <mat-card-content>
                   </mat-card-content>
                </mat-card>
             </div>
          </mat-tab>
          <mat-tab label="Privacy">
             <div>
                <mat-card class="mat-elevation-z8">
                   <mat-card-header>
                      <mat-card-title>/mlp/ Secret Santa</mat-card-title>
                   </mat-card-header>
                   <mat-card-content>
                   </mat-card-content>
                </mat-card>
             </div>
          </mat-tab>
       </mat-tab-group>
    </div>
 </div>