<div class="container">
    <div class="child">
       <mat-tab-group mat-align-tabs="center" dynamicHeight>
          <mat-tab label="What is it?">
             <div class="small-box mat-elevation-z8 contentBox">
                <h1>What is it?</h1>
                <h4>It's Hearthswarming, and it's serious business! Are you up to join the cause?</h4>
                <mat-tab-group mat-align-tabs="center">
                  <mat-tab label="General Information">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>General Information</h4>
                        <p>
                           The /mlp/ Secret Santa (5+ years running) is an annual Holiday celebration and gift exchange.
                         </p>
                         <p>
                           What started in 2015 as a spontaneous exchange on /mlp/ with no more than 80 anons has since grown to a yearly event with over 300+ participants!. The event typically runs through October-January with the bulk of it centering around December. It fosters friendship and goodwill towards fellow pony fans as participants send each other letters, greeting cards, gifts, and care packages. We take this time out of the year to stop being so horrible to one another and embrace our mutual love of tiny horses.
                         </p>
                         <p>
                           If you would like to participate (whether you want to exchange just cards, a package, or both) click the sign up link in the navigation bar above! The forms are pretty self-explanatory.
                           After signups you will be randomly assigned both a gifter and a giftee. Remember, you’ll need to send a gift to get one back. Failure to do so bars you from future events.
                         </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="Outside of the United States?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>Outside of the United States?</h4>
                        <p>
                           The‌ ‌exchange‌ ‌is‌ ‌open‌ ‌to‌ ‌international‌ ‌participants.‌ ‌Be‌ ‌prepared‌ ‌for‌ ‌shipping‌ ‌costs‌ ‌and‌ ‌customs‌ fees!‌
                           On‌ ‌the‌ ‌form,‌ ‌you‌ ‌will‌ ‌see‌ ‌an‌ ‌option‌ ‌asking‌ ‌whether‌ ‌you‌ ‌prefer‌ ‌to‌ ‌exchange‌ ‌internationally.‌ 
                           If‌ ‌you‌ ‌say‌ ‌no‌ ‌but‌ ‌there‌ ‌are‌ ‌no‌ ‌other‌ ‌participants‌ ‌from‌ ‌your‌ ‌home‌ ‌country‌ ‌I‌ ‌will‌ ‌alert‌ ‌you‌ ‌before‌ assignments go out.
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="What if I never get my gift?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>What if I never get my gift?</h4>
                        <p>
                           Unfortunately people can be dicks and it’s possible your gifter may flake on you. In the event that happens I am always taking names of kind anons willing to donate extra gifts to participants. If you want to be on reserve to give gifts and don’t want any in return feel free to skip the google form and email me directly.
                           There is a list of known Grinches from past events. I screen for them before assignments as best as I can.
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="Typical Schedule of events and deadlines">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>Typical Schedule of events and deadlines</h4>
                        <p>
                           <mat-list id="WhatIsItList">
                              <li mat-list-item>October 15th : Sign ups open</li>
                              <li mat-list-item>November 1st : LAST CALL FOR SIGN UPS</li>
                              <li mat-list-item>November 2nd 11:59 p.m. EST : Sign ups close. No exceptions.</li>
                              <li mat-list-item>November 4th - 10th Gift assignments will be given out. You have almost the entirety of November to shop!</li>
                              <li mat-list-item>December 1st - 10th is the suggested mailing period. Please do your best to mail in time for your anon to enjoy their gift during the Holiday.</li>
                           </mat-list>
                        </p>
                     </div>
                  </mat-tab>
                </mat-tab-group>
             </div>
          </mat-tab>
          <mat-tab label="Who is SantaPone?">
            <div class="small-box mat-elevation-z8 contentBox">
               <h1>Who is Santapone?</h1>
               <p>
                  Description
               </p>
            </div>
          </mat-tab>
          <mat-tab label="I don't have a login!">
            <div class="small-box mat-elevation-z8 contentBox">
               <h1>Don't have a login?</h1>
               <p>
                  Fear not! If you have signed up for the secret santa already with the link above, just wait patiently. An email will be sent as soon as your profile is looked at by SantaPone and you are ready to 
                  join the event! Along with your holiday ID, you will also recieve a password to log in with to be able to see your santa information and other related info. 
               </p>
               <p>
                  If you have not signed up yet, do so!
               </p>
            </div>
          </mat-tab>
          <mat-tab label="/ss/ FAQ's">
            <div class="small-box mat-elevation-z8 contentBox">
               <h1>/ss/ FAQ's</h1>
               <br>
               <mat-tab-group mat-align-tabs="center">
                  <mat-tab label="How do gifts work?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>How do gifts work?</h4>
                        <p>
                           Gifts are exchanged round-robin style. Imagine anons sitting in a circle with each anon passing a gift to the person on their right. A gives to B gives to C gives to A.
                           The person assigned to gift you is not the same person you will be shopping for! When assignments go out you will receive all the info your anon filled out in the signup form, 
                           like their favorite ponies and preferences.
                        </p>
                        <p>
                           You will also receive a unique Holiday ID name for yourself, and one for your giftee so that you can use it when posting in thread 
                           during unboxings or to communicate if need be. Have fun with it but understand this is not a free ticket to namefag shamelessly, please use your best judgement when posting with your ID! 
                           Once you have your assignment it’s time to get shopping! Please keep your receipt(s) and tracking information for any and all packages if you are exchanging a gift! Always be sure to alert 
                           SantaPone with the tracking information when you ship. The shark typically only needs to know the tracking number and carrier/website to use it with when you send a package from you to your 
                           Santee or if you are mailing them items directly from the manufacturer.
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="Can I send food?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>Can I send food?</h4>
                        <p>
                           If your anon is okay with it! It's suggested to stick to prepackaged items because >4chan but some anons like baking cookies or other treats. Be sure to thoroughly package anything you send to avoid 
                           crumbs or mess getting on to any other items. Avoid things that could melt or are easily crushed unless they are in well sealed containers. Be mindful of your giftees listed allergies or 
                           preferences as well as any customs regulations if sending internationally.
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="Can I send alchohol?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>Can I send alchohol?</h4>
                        <p>
                           Domestically, this is not supported through USPS but possible through other mail carriers, so do so at your discretion. Just be sure you wrap it securely and in a separate container in case of leaks or it 
                           breaking in transit.
                        </p>
                        <p>
                           Non-alcoholic liquids/drinks are fine to send through USPS but you should always package them with extreme care and let the postal worker know your package contains liquids. Internationally, it's not suggested 
                           to send any alcohol or liquids. Always be sure to heavily research the customs laws for the country you are shipping to before sending any food or drink. Consider sending non-liquid items such as tea, coffee, 
                           hot cocoa mix, etc if customs allows.
                        </p>
                        <p>
                           Of course, it's encouraged not to send anything hazardous, medicinal, or outright illegal to posses. Do not send bodily fluids of any kind.
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="How do cards work?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>How do cards work?</h4>
                        <p>
                           Cards are exchanged traditionally (you send to Anon #52 and he sends one back to you). You should receive a card back from each anon you send a card to but cards operate on the honor system. SantaPone can’t track paper letters. 
                           Some anons send small gifts alongside their cards but this is entirely optional. Store-bought or homemade, it’s hard to go wrong with cards!
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="Can I send drawings/poems/stories?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>Can I send drawings/poems/stories?</h4>
                        <p>
                           Absolutely, get creative!
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="Can I send a drawing/story as my gift?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>Can I send a drawing/story as my gift?</h4>
                        <p>
                           While any anon would be happy to receive these items it’s recommended to stick to exchanging cards if a drawing or story is the only thing you can send. However any type of fine art or crafts (paintings, sculpture, textile crafts) 
                           is eligible as a great gift.
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="What about lewd...?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>What about lewd...?</h4>
                        <p>
                           Please respect your anon's preference when it comes to lewd. Also be aware of common sense when decorating the outside of your anon's envelopes or packages. The post office will not send your item if it has a giant horse cock plastered on it. 
                           Lewd is to be limited to the inside contents of cards and packages.
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="Can you explain the price limit more?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>Can you explain the price limit more?</h4>
                        <p>
                           The $20-25 minimum (which does not include the cost you should set aside for shipping) is not a hard number perse but more a guideline of the value a gift should have. It can be one big item or multiple small items. If your anon is okay with handmade goods, 
                           the perceived value of the handmade item should feel on-par with that amount. You don’t have to stress about hitting the exact number, just put heart and care into it! It’s always a great idea to include small inexpensive items like stickers, cards, letters, 
                           etc with your gift to give it a personal touch while remaining within your budget and don’t forget to send a note or letter! If you opt to send items direct from an online shop please please please have the company/shop owner send along a personalized note for your anon. 
                           Most if not every vendor should be happy to do this for you.
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="Where do I get pony stuff?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>Where do I get pony stuff?</h4>
                        <p>
                           If you’re in the states, practically everywhere. 
 
                           Try major retailers such as:
                           <mat-list id="FAQList">
                              <li mat-list-item>Walmart</li>
                              <li mat-list-item>Target (Check the $1-$3 bargain section for stocking stuffers! They frequently have items from popular kids brands and shows like MLP)</li>
                              <li mat-list-item>Barnes and Noble (They sell plush, funkos, stickers, and of course comics and books.)</li>
                              <li mat-list-item>FYE</li>
                              <li mat-list-item>Hot Topic</li>
                              <li mat-list-item>Dollar Stores and Dollar Generals</li>
                              <li mat-list-item>Craft stores like Michaels, Joanns, and Hobby Lobby</li>
                              <li mat-list-item>Supermarkets may also carry comics, magazines, and activity books or small impulse items like blindbags.</li>
                           </mat-list>
                        </p>
                        <p>
                           You can also occasionally find figures and items at thrift stores/yard sales if your Anon doesn't mind secondhand stuff. 
                           Honestly consider it like adopting a sad pony from the pound.
                        </p>
                        <p>
                           If you are not in the US and Pone is hard to come by online vendors like Amazon are good options as well as Storenvy, TicTail, 
                           Redbubble, Etsy and other online storefronts. Local treats are fun to send as well if your anon likes food, or small trinkets that represent your country.
                        </p>
                        <p>
                           If you want to get creative try your hand at making your giftee’s waifu (the plush threads can assist with tips and resources) or use a second-party website like Vistaprint, 
                           or ArtsCow to create a huge variety of custom items! Do note though that some of these websites ship from China and can take a long time to process and deliver your order so you usually have to act fast.
                        </p>
                        <p>
                           VistaPrint offers a wide selection of items to meme up and plaster ponies all over, plus much speedier shipping than Chinese sites! However they can be a little pricier.
                        </p>
                        <p>
                           If you're buying something from Glorious China please also be sure it isn't a bootleg of an independent artist's product. The Chinese plushies are usually a safe gift but Dakis and artwork are most likely 
                           theft so try to find the original artist! Nobody cares if you rip off Hasjew by using their vectors or free-to-enjoy meme images but be considerate of fan art and small artists' intellectual property.
                        </p>
                     </div>
                  </mat-tab>
                  <mat-tab label="Have other questions?">
                     <div class="small-box mat-elevation-z8 contentBox">
                        <h4>Have other questions?</h4>
                        <p>
                           Post ‘em in the threads, use the contact link above, or email SantaPone or the Card Dragon themselves!
                        </p>
                        <p>
                           Coordinator email for comments/concerns/general inquiries: mlpsantapone@gmail.com
                        </p>
                        <p>
                           Card Ambassador and assistant dragon supreme : thecardslut@gmail.com 
                        </p>
                     </div>
                  </mat-tab>
               </mat-tab-group>
            </div>
          </mat-tab>
          <mat-tab label="Privacy">
            <div class="small-box mat-elevation-z8 contentBox">
               <h1>Privacy</h1>
               <p>
                  SantaDev here, here at SantaPone Central, we understand that privacy is an incredibly serious business. A bunch of folks from 4chan giving their information to other anons is a HUGE exercise in trust, and 
                  security, credential protections, and authorization have been the absolute top focus of this whole project. As part of the development of this project, I want to be as transparent as I can with each and every 
                  one of you about the tech stack used, how it is used, and how your data is protect to the highest degree.
               </p>
               <mat-toolbar>Service Infrastructure</mat-toolbar>
               <p>Information about site infrastructure</p>

               <mat-toolbar>Auth0</mat-toolbar>
               <p>Further information about Auth0 and data protection</p>

               <mat-toolbar>Data</mat-toolbar>
               <p>Information relating to how data is stored, what data is stored, and procedures with how it will be handled after the event</p>

               <mat-toolbar>Further Information</mat-toolbar>
               <p>Any extra information, and contact email for santadev for any additional questions or concerns</p>
            </div>
          </mat-tab>
       </mat-tab-group>
    </div>
 </div>

 <p *ngIf="showMetadata">{{ authprofile | json}}</p>


