<mat-toolbar>
    <mat-toolbar-row>
        Completed Anons
    </mat-toolbar-row>
    <mat-toolbar-row id="paginatorRow" class="mat-elevation-z4">
        <div id="iconDiv">
            <button mat-raised-button class="controlButton" title="Refresh Clients">
                <mat-icon class="icons" (click)="manualRefresh()">refresh</mat-icon>
            </button>
            <button mat-raised-button class="controlButton" title="Save Excel File">
                <mat-icon class="icons">save_alt</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="spinnerWrap" *ngIf="(gatheringAllClients || showSpinner) && !this.gatherer.onSelectedClient">
    <app-loading-spin></app-loading-spin>
</div>
<mat-list>
    <mat-card mat-list-item *ngFor="let client of completedClients" appMaterialElevation (click)="showCardInfo(client)">
      <mat-card-title>
        <h1 class="inline">{{ client.clientNickname }}</h1>
        <mat-chip-list class="inline tagList" [selectable]="false" >
          <mat-chip *ngFor="let tag of client.tags"
          matTooltip="{{tag.tagName}}"
          [matTooltipPosition]="'below'"
          [disableRipple]="true"><span class="tagText">{{tag.tagName}}</span></mat-chip>
        </mat-chip-list>
      </mat-card-title>
      <mat-card-subtitle>
        <span [ngClass]="{'notice' : client.recipients.length == 0}">Assignments: {{ client.recipients.length }}</span>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <span>Senders: {{ client.senders.length }}</span>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <span>Client Name: {{ client.clientName }}</span>
      </mat-card-subtitle>
    </mat-card>
</mat-list>
