<mat-toolbar>Incoming Sign-Ups</mat-toolbar>
<mat-paginator class="mat-elevation-z4">
</mat-paginator>
<div class="spinnerWrap" *ngIf="showSpinner">
    <app-loading-spin></app-loading-spin>
</div>
<mat-list>
    <mat-card mat-list-item *ngFor="let client of awaitingClients" appMaterialElevation (click)="showCardInfo(client)" [@simpleFadeAnimation]="'in'">
        <mat-card-title>
            {{ client.clientNickname }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ client.email }}
        </mat-card-subtitle>
        <mat-card-content>
            Client Name: {{ client.clientName }}
        </mat-card-content>
    </mat-card>
</mat-list>