<div class="shell scrollbar scrollbar-primary mat-elevation-z2" [@simpleFadeAnimation]="'in'">
    <mat-card class="infoCard mat-elevation-z5">

        <mat-card-header>
            <mat-card-title>{{ client.clientNickname }}</mat-card-title>
            <mat-card-subtitle>{{ client.clientName }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Content</p>
        </mat-card-content>
        <app-loading-spin *ngIf="showButtonSpinner"></app-loading-spin>
        <p *ngIf="showFail">Error approving Anon</p>
        <p *ngIf="showApproveSuccess">{{ client.clientNickname }} has been approved!</p>
        <mat-card-actions *ngIf="!showButtonSpinner">
            <button mat-raised-button (click)="approveAnon()"
                *ngIf="client.clientStatus.statusDescription == 'Awaiting'">Approve</button>
            <button mat-raised-button *ngIf="client.clientStatus.statusDescription == 'Awaiting'">Deny</button>
            <button mat-raised-button>Other Options</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="infoCard mat-elevation-z5">
        <mat-card-header>
            <mat-card-title>Shipping Address</mat-card-title>
            <mat-card-subtitle>Address that Anon's would use to send something to this Anon</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ client.address.addressLineOne }}</p>
            <p>{{ client.address.addressLineTwo }}</p>
            <p>{{ client.address.city }}</p>
            <p>{{ client.address.state }}</p>
            <p>{{ client.address.postalCode }}</p>
            <p>{{ client.address.country }}</p>
        </mat-card-content>
    </mat-card>

    <div id="relationDiv">
        <mat-card id="senderCard">
            <mat-card-header>
                <mat-card-title>Client Senders</mat-card-title>
                <mat-card-subtitle>People who are sending to the Anon</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let sender of senders">
                        <mat-expansion-panel-header>
                            {{sender.clientNickname}}
                        </mat-expansion-panel-header>
                        {{sender.clientName}}
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
        <mat-card id="recieverCard">
            <mat-card-header>
                <mat-card-title>Client Recievers</mat-card-title>
                <mat-card-subtitle>People the Anon is sending to</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let reciever of recievers">
                        <mat-expansion-panel-header>
                            {{reciever.clientNickname}}
                        </mat-expansion-panel-header>
                        {{reciever.clientName}}
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card class="infoCard mat-elevation-z5">
        <mat-card-header>
            <mat-card-title>Profile Actions</mat-card-title>
            <mat-card-subtitle>Actions that modify a client's activity</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <div class="optionDiv">
                <button mat-raised-button>Contact</button>
                <mat-card-subtitle class="optionSub">
                    <p>Send a message to the client</p>
                </mat-card-subtitle>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <!--Change Nickname Card-->
            <div class="optionDiv" id="recipientOptionDiv">
                <div>
                    <mat-drawer-container [ngClass]="{'recipientDrawerContainerOpen' : recipientOpen,
                                                      'recipientDrawerContainerClosed' : !recipientOpen}" autosize>
                        <mat-drawer #drawer class="recipientNav" mode="side">
                            <mat-selection-list #shoes>
                                <mat-list-option>Test Option</mat-list-option>
                                <mat-list-option>Test Option</mat-list-option>
                                <mat-list-option>Test Option</mat-list-option>
                                <mat-list-option>Test Option</mat-list-option>
                                <mat-list-option>Test Option</mat-list-option>
                                <mat-list-option>Test Option</mat-list-option>
                                <mat-list-option>Test Option</mat-list-option>
                                <mat-list-option>Test Option</mat-list-option>
                            </mat-selection-list>
                        </mat-drawer>
    
                        <div [ngClass]="{'recipientContentOpen' : recipientOpen,'recipientContentClosed': !recipientOpen}">
                            <div id="toggleDiv">
                                <button (click)="drawer.toggle();" (click)="recipientOpen = !recipientOpen" mat-raised-button>Add reciepients</button>
                                <mat-card-subtitle class="optionSub">
                                    <p>Adds people the Anon is sending to</p>
                                </mat-card-subtitle>
                            </div>
                            <div *ngIf="recipientOpen" id="confirmationButtonsDiv">
                                <button mat-raised-button>Confirm Selection</button>
                            </div>
                        </div>
                    </mat-drawer-container>
                </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <!--Change Nickname Card-->
            <div class="optionDiv">
                <button mat-raised-button (click)="changeNickname()">Change Nickname</button>
                <mat-card-subtitle class="optionSub">
                    <p>Assign the Anon a proper or different Holiday Nickname</p>
                </mat-card-subtitle>

                <app-loading-spin *ngIf="showNickSpinner"></app-loading-spin>
                <p id="nickSuccess" *ngIf="showNicnameSuccess">The Nickname for {{ client.clientName }} has been
                    successfully updated to {{ client.clientNickname }}!</p>
                <mat-form-field [formGroup]="clientNicknameFormGroup" class="mat-elevation-z2" id="nickField"
                    *ngIf="!showNickSpinner">
                    <mat-label>New Nickname</mat-label>
                    <input matInput formControlName="newNickname" placeholder="Ex. Happy Camper" value="Nickname">
                </mat-form-field>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="optionDiv">
                <button mat-raised-button>Add client tags</button>
                <mat-card-subtitle class="optionSub">
                    <p>Add tags to a client</p>
                </mat-card-subtitle>
            </div>
        </mat-card-actions>
    </mat-card>
    <!-- Good place for an ngFor all the events the client is a part of that they are joining in for -->
</div>