<div class="centerSpin">
    <app-loading-spin *ngIf="beingSwitched || deletingClient || loadingClient"></app-loading-spin>
</div>
<ng-scrollbar class="shell scrollbar mat-elevation-z2" #scrollable *ngIf="!beingSwitched && !deletingClient && !loadingClient" [disabled]="false">
    <mat-card class="closeBackButtonCard mat-elevation-z5">
      <mat-card-content class="closeBackButtonCardContent" *ngIf="showBackCloseButtons">
        <button mat-raised-button class="navigationButton navigationButtonBack" (click)="emitBackClicked()"><mat-icon>arrow_back_ios</mat-icon> Back to previous window</button>
        <button mat-raised-button class="navigationButton navigationButtonClose" (click)="emitCloseClicked()">Close <mat-icon>close</mat-icon></button>
      </mat-card-content>
    </mat-card>
    <mat-card class="infoCard mat-elevation-z5">

        <mat-card-header>
            <mat-card-title>{{ client.clientNickname }}</mat-card-title>
            <mat-card-subtitle>{{ client.clientName }} <p>{{client.email}}</p></mat-card-subtitle>
            <mat-card-subtitle *ngIf="client.clientNickname == 'Anon'"><mat-icon>info</mat-icon>Change the clients nickname to something other than Anon before approving</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content id="headerContentContainer">
            <mat-card id="tagCard">
                <mat-card-header>
                    <mat-card-title>Client Tags</mat-card-title>
                    <mat-card-subtitle>All of the tags held by the selected client</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <app-small-loading-spin *ngIf="modyingTagRelationships || initializing"></app-small-loading-spin>

                    <!--Tag Chip list-->
                    <div id="tagChipList">
                        <mat-chip-list *ngIf="!modyingTagRelationships && !initializing">
                            <mat-chip *ngFor="let tag of client.tags"
                            [selectable]="true"
                            [removable]="tagRemovable">{{tag.tagName}}<mat-icon matChipRemove (click)="removeTagFromClient(tag)" *ngIf="tagRemovable">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                    <!--Tag Selection list-->
                    <div id="tagSelectionList">
                        <mat-divider [inset]="true" *ngIf="editingTags && !modyingTagRelationships"></mat-divider>
                        <mat-selection-list *ngIf="editingTags && !modyingTagRelationships" [(ngModel)]="selectedTags">
                            <mat-list-option *ngFor="let availableTag of availableTags" [value]="availableTag">{{availableTag.tagName}}</mat-list-option>
                        </mat-selection-list>
                    </div>

                    <!--Tag Control buttons-->
                    <div id="tagButtonContainer">
                        <button *ngIf="!editingTags && !modyingTagRelationships" class="tagButton"
                        mat-raised-button
                        matTooltip="Add tag to the Anon"
                        [disabled]="initializing || gatheringAllTags"
                        (click)="showAvailableTags()"
                        [matTooltipPosition]="'left'">Add Tags</button>
                    <button *ngIf="editingTags && !modyingTagRelationships" class="tagButton"
                        mat-raised-button
                        matTooltip="Confirm Tag Selection"
                        (click)="addTagsToClient()"
                        [disabled]="selectedTags?.length == 0"
                        [matTooltipPosition]="'left'">Confirm Tag Selection</button>
                    <button *ngIf="editingTags && !modyingTagRelationships" class="tagButton"
                        mat-raised-button
                        matTooltip="Cancel Tag Action"
                        (click)="cancelTagAction()"
                        [matTooltipPosition]="'right'">Cancel</button>
                    </div>
                </mat-card-content>
            </mat-card>
            <app-note-control
              [clientID]="client.clientID"
              [notes]="client.notes"
              (clickawayLockedEvent)="setClickAwayAllowed($event)"
              (deletedNoteSuccessEvent)="softRefreshClient(); emitActionTaken();"
              (postedNewNoteSuccessEvent)="softRefreshClient(); emitActionTaken();"
              (editedNoteSuccessEvent)="softRefreshClient(); emitActionTaken();">
            </app-note-control>
        </mat-card-content>
        <app-loading-spin *ngIf="showButtonSpinner"></app-loading-spin>
        <div class="error" *ngIf="showFail">Error approving Anon</div>
        <p class="success" *ngIf="showApproveSuccess">{{ client.clientNickname }} has been approved!</p>
        <p class="success" *ngIf="showDeniedSuccess">{{ client.clientNickname }} has been denied and an email has been sent!</p>
        <p class="success" *ngIf="showCompletedSuccess">{{ client.clientNickname }} has been marked as completed, and an email has been sent!</p>
        <p class="success" *ngIf="showReenlistedSuccess">{{ client.clientNickname }} has been re-enlisted to the cause, and an email has been sent!</p>

        <mat-card-actions *ngIf="!showButtonSpinner">
            <button mat-raised-button class="mainActionButton" *ngIf="client.clientStatus.statusDescription == 'Awaiting' && !showApproveSuccess"
                [disabled]="gatheringAllStatuses || showApproveSuccess || showDeniedSuccess || client.clientNickname == 'Anon' "
                (click)="approveAnon(true)">Approve (With Account)</button>
            <button mat-raised-button class="mainActionButton" *ngIf="client.clientStatus.statusDescription == 'Awaiting' && !showApproveSuccess"
                [disabled]="gatheringAllStatuses || showApproveSuccess || showDeniedSuccess || client.clientNickname == 'Anon' "
                (click)="approveAnon(false)">Approve (Without Account)</button>
            <button mat-raised-button class="mainActionButton" *ngIf="client.clientStatus.statusDescription == 'Denied' && !showApproveSuccess"
                [disabled]="gatheringAllStatuses || showApproveSuccess || showDeniedSuccess"
                (click)="approveAnon(true)">Re-Approve (With Account)</button>
            <button mat-raised-button class="mainActionButton" *ngIf="client.clientStatus.statusDescription == 'Denied' && !showApproveSuccess"
                [disabled]="gatheringAllStatuses || showApproveSuccess || showDeniedSuccess"
                (click)="approveAnon(false)">Re-Approve (Without Account)</button>
            <button mat-raised-button class="mainActionButton" *ngIf="client.clientStatus.statusDescription == 'Awaiting' && !showDeniedSuccess"
                [disabled]="gatheringAllStatuses || showApproveSuccess || showDeniedSuccess"
                (click)="denyAnon()">Deny</button>
            <button mat-raised-button class="mainActionButton"
                [disabled]="showNameChangeForm"
                (click)="showNameChangeForm = true">Change Agent's Name</button>
            <button mat-raised-button class="mainActionButton"
                [disabled]="showEmailChangeForm"
                (click)="showEmailChangeForm = true">Change Agent's Email</button>
            <button mat-raised-button class="mainActionButton" *ngIf="client.clientStatus.statusDescription == 'Approved'"
                [disabled]="gatheringAllStatuses || showCompletedSuccess || client.clientStatus.statusDescription == 'Completed'"
                (click)="setAsCompleted()">Mark as complete</button>
            <button mat-raised-button class="mainActionButton" *ngIf="client.clientStatus.statusDescription == 'Completed'"
                [disabled]="gatheringAllStatuses || showReenlistedSuccess || client.clientStatus.statusDescription == 'Approved'"
                (click)="reenlistAnon()">Re-Enlist</button>
            <mat-divider style="margin-top: 10px;" *ngIf="showNameChangeForm == true || showEmailChangeForm == true" [inset]="true"></mat-divider>

            <!-- Name change form group -->
            <mat-card class="infoCard mat-elevation-z2" *ngIf="showNameChangeForm">
                <mat-card-header>
                    <mat-card-title>Edit Agent Name</mat-card-title>
                    <mat-card-subtitle>This changes the real name of the client</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content *ngIf="changingName">
                    <app-loading-spin></app-loading-spin>
                </mat-card-content>
                <mat-card-content *ngIf="!changingName">
                    <form [formGroup]="clientNameFormGroup">
                        <!-- First Name -->
                        <mat-form-field class="changeFormField">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" placeholder="First Name">
                        </mat-form-field>
                        <div class="error" *ngIf="nameFormControls.firstName.errors && nameFormControls.firstName.touched">
                            <div *ngIf="nameFormControls.firstName.errors.required">A first name is required</div>
                            <div *ngIf="nameFormControls.firstName.errors.maxlength">First name is too long. 20 Characters is the maximum</div>
                            <div *ngIf="nameFormControls.firstName.errors.pattern">First name must be a proper first name</div>
                        </div>

                        <!-- Last Name -->
                        <mat-form-field class="changeFormField">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" placeholder="Last Name">
                        </mat-form-field>
                        <div class="error" *ngIf="nameFormControls.lastName.errors && nameFormControls.lastName.touched">
                            <div *ngIf="nameFormControls.lastName.errors.required">A last name is required</div>
                            <div *ngIf="nameFormControls.lastName.errors.maxlength">Last name is too long. 20 Characters is the maximum</div>
                            <div *ngIf="nameFormControls.lastName.errors.pattern">Last name must be a proper last name</div>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <div>
                        <button mat-raised-button (click)="submitNewName()">Submit</button>
                        <button mat-raised-button (click)="showNameChangeForm = false">Cancel</button>
                    </div>
                </mat-card-actions>
            </mat-card>

            <!-- Email change form group -->
            <mat-card class="infoCard mat-elevation-z2" *ngIf="showEmailChangeForm">
                <mat-card-header>
                    <mat-card-title>Edit Agent Email</mat-card-title>
                    <mat-card-subtitle>This changes the email of the client, and their login email</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content *ngIf="changingEmail">
                    <app-loading-spin></app-loading-spin>
                </mat-card-content>
                <mat-card-content *ngIf="!changingEmail">
                    <form [formGroup]="clientEmailFormGroup">
                        <!-- Email -->
                        <mat-form-field class="changeFormField">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" placeholder="email@domain.com">
                        </mat-form-field>
                        <div class="error" *ngIf="emailFormControls.email.errors && emailFormControls.email.touched">
                            <div *ngIf="emailFormControls.email.errors.required">An email is required</div>
                            <div *ngIf="emailFormControls.email.errors.maxlength">Email is too long. 50 Characters is the maximum</div>
                            <div *ngIf="emailFormControls.email.errors.pattern">Email must be a proper email</div>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <div>
                        <button mat-raised-button (click)="submitNewEmail()">Submit</button>
                        <button mat-raised-button (click)="showEmailChangeForm = false">Cancel</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </mat-card-actions>
    </mat-card>

    <mat-card class="infoCard mat-elevation-z5">
        <mat-card-header>
            <mat-card-title>Shipping Address</mat-card-title>
            <mat-card-subtitle>Address that Anon's would use to send something to this Anon</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="changingAddress">
            <app-loading-spin></app-loading-spin>
        </mat-card-content>
        <mat-card-content *ngIf="!changingAddress">
            <div>
                <p>{{ client.address.addressLineOne }}</p>
                <p>{{ client.address.addressLineTwo }}</p>
                <p>{{ client.address.city }}</p>
                <p>{{ client.address.state }}</p>
                <p>{{ client.address.country }}</p>
                <p>{{ client.address.postalCode }}</p>
            </div>
            <button mat-raised-button *ngIf="!showAddressChangeForm" (click)="showAddressChangeForm = !showAddressChangeForm">Change Address</button>
            <div id="addressChangeForm" *ngIf="showAddressChangeForm">
                <form [formGroup]="clientAddressFormGroup">

                    <!-- Address line 1 -->
                    <mat-form-field class="changeFormField">
                        <input matInput formControlName="addressLine1" placeholder="Street Address">
                    </mat-form-field>
                    <div class="error" *ngIf="addressFormControls.addressLine1.errors && addressFormControls.addressLine1.touched">
                        <div *ngIf="addressFormControls.addressLine1.errors.required">An address line is required</div>
                        <div *ngIf="addressFormControls.addressLine1.errors.maxlength">First address line is too long. 50 Characters is the maximum</div>
                    </div>

                    <!-- Address line 2 -->
                    <mat-form-field class="changeFormField">
                        <input matInput #secondLine formControlName="addressLine2"
                            placeholder="Second Street Address (Optional)">
                    </mat-form-field>
                    <div class="error" *ngIf="addressFormControls.addressLine2.errors && addressFormControls.addressLine2.touched">
                        <div *ngIf="addressFormControls.addressLine2.errors.maxlength">Second address line is too long. 50 Characters is the maximum</div>
                    </div>

                    <!-- City -->
                    <mat-form-field class="changeFormField">
                        <input matInput formControlName="city" placeholder="City">
                    </mat-form-field>
                    <div class="error" *ngIf="addressFormControls.city.errors && addressFormControls.city.touched">
                        <div *ngIf="addressFormControls.city.errors.required">A city is required</div>
                        <div *ngIf="addressFormControls.city.errors.maxlength">City field is too long. 50 Characters is the maximum</div>
                    </div>

                    <!-- State -->
                    <mat-form-field class="changeFormField">
                        <input matInput formControlName="state" placeholder="State">
                    </mat-form-field>
                    <div class="error" *ngIf="addressFormControls.state.errors && addressFormControls.state.touched">
                        <div *ngIf="addressFormControls.state.errors.required">A state is required</div>
                        <div *ngIf="addressFormControls.state.errors.maxlength">State line is too long. 50 Characters is the maximum</div>
                    </div>

                    <mat-form-field class="changeFormField">
                        <mat-select name="country" formControlName="country" placeholder="Select a Country">
                            <mat-option *ngFor="let country of countries" [value]="country.CountryName">{{country.CountryName}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Postal Code -->
                    <mat-form-field class="changeFormField">
                        <input matInput formControlName="postalCode" placeholder="Postal Code">
                    </mat-form-field>
                    <div class="error" *ngIf="addressFormControls.postalCode.errors && addressFormControls.postalCode.touched">
                        <div *ngIf="addressFormControls.postalCode.errors.required">A postal code is required</div>
                        <div *ngIf="addressFormControls.postalCode.errors.maxlength">Postal code is too long. 25 Characters is the maximum</div>
                        <div *ngIf="addressFormControls.postalCode.errors.pattern">Postal code can only have numbers</div>
                    </div>

                    <div>
                        <button mat-raised-button [disabled]="clientAddressFormGroup.invalid" (click)="submitNewAddress()">Submit Change</button>
                        <button mat-raised-button (click)="showAddressChangeForm = !showAddressChangeForm">Cancel</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

    <ng-container>
      <mat-toolbar id="relationshipEventHeader">
        <mat-toolbar-row>
            Survey Answers
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="responseCard" *ngFor="let survey of surveys">
        <app-response-list
        (submitClickedRefreshEvent)="softRefreshClient($event)"
        [clientID]="client.clientID"
        [survey]="survey"
        [responses]="client.responses"
        [editable]="true"></app-response-list>
      </div>
    </ng-container>

    <div class="centerSpin">
        <app-loading-spin *ngIf="gettingEventDetails"></app-loading-spin>
    </div>

    <mat-card class="infoCard mat-elevation-z5" *ngIf="isAnonApproved() && !gettingEventDetails">
      <mat-card-header>
        <mat-card-title>Assignments</mat-card-title>
        <mat-card-subtitle>Controls for {{ client.clientNickname }}'s assignments</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="assignmentEventCard mat-elevation-z5" *ngFor="let event of events">
          <mat-card-header>
            <mat-card-title>{{ event.eventDescription }}</mat-card-title>
            <mat-card-subtitle>Assignment information for the {{ event.eventDescription }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <div class="assignmentPanelsContainer">
              <div class="assignmentPanelDiv">
                <app-assignments-panel
                  (clickAwayAllowedEvent)="setClickAwayAllowed($event)"
                  (switchClickedEvent)="switchAnon($event)"
                  (removeClickedEvent)="removeRecipient($event)"
                  (updatedStatusEvent)="emitActionTaken()"
                  [agent]="client"
                  [senders]="getEventSenders(event)"
                  [assignments]="getEventAssignments(event)"></app-assignments-panel>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>

    <mat-card class="infoCard mat-elevation-z5">
        <mat-card-header>
            <mat-card-title>Profile Actions</mat-card-title>
            <mat-card-subtitle>Actions that modify a client's activity</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>

          <ng-container *ngIf="clientCanBeGivenAssignments">
            <mat-divider [inset]="true"></mat-divider>

            <!--Add assignment option-->
            <div class="optionDiv" *ngIf="clientCanBeGivenAssignments">
              <app-small-loading-spin *ngIf="showRecipientListPostingSpinner || initializing"></app-small-loading-spin>

              <p class="success" *ngIf="false"></p>
              <p class="error" *ngIf="false"></p>
              <button mat-raised-button id="toggleDiv"
              matTooltip="Shows the list of assignable Anon's"
              [matTooltipPosition]="'right'"
              [disabled]="gatheringAllAssignmentsStatuses"
              (click)="recipientOpen = !recipientOpen">Add Assignments</button>
              <mat-card-subtitle class="optionSub">
                  <p>Adds assignments for the Anon to send to</p>
              </mat-card-subtitle>

              <div *ngIf="recipientOpen" id="confirmationButtonsDiv">
                <button mat-raised-button
                    matTooltip="Confirm the selected Anon's as recipients"
                    (click)="showRecipientListPostingSpinner = true;"
                    (click)="addRecipientsToClient();"
                    [matTooltipPosition]="'right'"
                    [disabled]="selectedRecipients?.length == 0 || selectedRecipientEvent.eventTypeID == undefined || showRecipientListPostingSpinner == true">Confirm Selection
                </button>
              </div>

              <div *ngIf="recipientOpen" id="eventRadioDiv">
                <mat-radio-group [(ngModel)]="selectedRecipientEvent" [disabled]="!recipientsAreLoaded">
                    <mat-radio-button *ngFor="let event of events"
                      [disabled]="!recipientsAreLoaded"
                      [value]="event"
                      (click)="getAllowedRecipientsByEvent(event)">{{ event.eventDescription }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <p *ngIf="addRecipientSuccess" class="success">Added assignments to {{ client.clientNickname }} for the {{ selectedRecipientEvent.eventDescription }}!</p>
              <div class="recipientListContainer mat-elevation-z4" *ngIf="recipientOpen">
                <mat-divider [inset]="true"></mat-divider>
                <mat-toolbar class="centeredToolbar">Add an Assignment</mat-toolbar>
                <!-- Inner card -->
                  <mat-card class="recipientListCard mat-elevation-z4">
                    <ng-scrollbar class="recipientListScrollbar">
                      <mat-card-content>
                      <div class="recipientListContentSelectEventDiv" *ngIf="selectedRecipientEvent.eventTypeID == undefined">
                        <mat-card-subtitle style="margin-bottom: 0px;">Select an event to see available assignments</mat-card-subtitle>
                      </div>
                      <div class="recipientListContentDiv">
                        <app-small-loading-spin class="recipientListSpinner" *ngIf="showRecipientListPostingSpinner || (recipientOpen && !recipientsAreLoaded)"></app-small-loading-spin>
                          <mat-selection-list #recipientList  *ngIf="!showRecipientListPostingSpinner && recipientsAreLoaded && selectedRecipientEvent.eventTypeID != undefined" [(ngModel)]="selectedRecipients">
                            <mat-list-option class="recipientListOption" *ngFor="let clientRecipientOption of allowedAssignmentOptions" [value]="clientRecipientOption">
                              <div class="recipientListOptionInfoDiv">
                                <span>{{ clientRecipientOption.clientMeta.clientNickname }}</span>
                                <mat-card-subtitle class="recipientInfoSubtitle">Assignments: {{ clientRecipientOption.totalAssignments }}</mat-card-subtitle>
                                <mat-card-subtitle class="recipientInfoSubtitle">Senders: {{ clientRecipientOption.totalSenders }}</mat-card-subtitle>
                                <div class="recipientTagDiv">
                                  <mat-chip class="recipientTag" *ngFor="let tag of clientRecipientOption.tags"
                                    matTooltip="{{tag.tagName}}"
                                    [matTooltipPosition]="'below'"
                                    [disableRipple]="true">
                                    <span class="recipientTagText">{{tag.tagName}}</span>
                                  </mat-chip>
                                </div>
                                <ng-container *ngFor="let survey of surveys">
                                  <mat-card-subtitle *ngIf="!answeredToSurvey(clientRecipientOption, survey)" class="recipientInfoSubtitle subtleError">Client did not answer for the {{ survey.surveyDescription }}</mat-card-subtitle>
                                </ng-container>
                              </div>
                            </mat-list-option>
                          </mat-selection-list>
                        </div>
                      </mat-card-content>
                    </ng-scrollbar>

                  </mat-card>
              </div>
            </div>
          </ng-container>

          <mat-divider [inset]="true"></mat-divider>

          <div class="optionDiv">
            <app-small-loading-spin *ngIf="sendingReset"></app-small-loading-spin>

            <p class="success" *ngIf="showSentPasswordResetSuccess && !sendingReset">{{ client.clientName }} has been sent a password reset email!</p>
            <p class="error" *ngIf="!client.hasAccount">You cannot send a password reset email to a client who does not have an account</p>
            <button mat-raised-button
            matTooltip="Send a password reset email to the agent to reset their password"
            [matTooltipPosition]="'right'"
            [disabled]="sendingReset || !client.hasAccount"
            (click)="sendAnonPasswordReset()">Send Reset Password Email</button>
            <mat-card-subtitle class="optionSub">
                <p>Sends an email to the agent with a ticket to reset their Auth0 password</p>
            </mat-card-subtitle>
          </div>


          <mat-divider [inset]="true"></mat-divider>

          <!--Change Nickname Card-->
          <div class="optionDiv">
              <button mat-raised-button
                  matTooltip="Change the nickname of the anon"
                  [matTooltipPosition]="'right'"
                  [disabled]="!clientNicknameFormGroup.valid"
                  (click)="changeNickname()">Change Nickname</button>
              <mat-card-subtitle class="optionSub">
                  <p>Assign the Anon a proper or different Holiday Nickname</p>
              </mat-card-subtitle>

              <app-small-loading-spin *ngIf="showNickSpinner"></app-small-loading-spin>
              <p class="success" *ngIf="showNicnameSuccess">The Nickname for {{ client.clientName }} has been successfully updated to {{ client.clientNickname }}!</p>
              <mat-form-field [formGroup]="clientNicknameFormGroup" class="mat-elevation-z2" id="nickField"
                  *ngIf="!showNickSpinner">
                  <mat-label>New Nickname</mat-label>
                  <!-- MEMELYHERE make this reactive -->
                  <input matInput #nicknameInput formControlName="newNickname" placeholder="Ex. Happy Camper" value="Nickname"
                      maxlength="50" minlength="2" pattern="[A-Za-z0-9 ]{2,50}" required>
              </mat-form-field>
          </div>

          <!-- Create a new Auth0 account for users without one -->
          <ng-container *ngIf="!client.hasAccount && client.clientStatus.statusDescription != 'Awaiting'">
            <mat-divider [inset]="true"></mat-divider>
            <div class="optionDiv">
              <app-small-loading-spin *ngIf="creatingAuthAccount"></app-small-loading-spin>

              <p class="success" *ngIf="creatingAuthAccountSuccess">{{ client.clientNickname }} now has a login!</p>
              <button mat-raised-button
              matTooltip="Create a login for this Anon to be able to log in with"
              [matTooltipPosition]="'right'"
              [disabled]="creatingAuthAccount || creatingAuthAccountSuccess"
              (click)="createAnonAuth0Account()">Create Login</button>
              <mat-card-subtitle class="optionSub">
                  <p>Creates an Auth0 account for this client to log in with</p>
              </mat-card-subtitle>
            </div>
          </ng-container>

          <ng-container *ngIf="creatingAuthAccountSuccess">
            <mat-divider [inset]="true"></mat-divider>
            <div class="optionDiv">
              <p class="success">{{ client.clientNickname }} now has a login!</p>
              <mat-card-subtitle class="optionSub">
                  <p>Creates an Auth0 account for this client to log in with</p>
              </mat-card-subtitle>
            </div>
          </ng-container>

          <mat-divider [inset]="true"></mat-divider>

          <app-small-loading-spin *ngIf="deletingClient"></app-small-loading-spin>
          <div class="optionDiv" *ngIf="!deletingClient">
              <button mat-raised-button *ngIf="!deleteConfirmationOpen"
              matTooltip="Delete an anon's account entirely"
              [matTooltipPosition]="'right'"
              [disabled]="gatheringAllStatuses || client.isAdmin"
              (click)="deleteConfirmationOpen = true">Delete Agent <mat-icon>delete</mat-icon></button>
              <button mat-raised-button *ngIf="deleteConfirmationOpen"
                matTooltip="Confirm deletion of this agent and their account (Permenant)"
                color="warn"
                [matTooltipPosition]="'right'"
                (click)="deleteAnon()">Confirm Delete? <mat-icon>delete_forever</mat-icon></button>
              <button mat-raised-button (click)="deleteConfirmationOpen = false" *ngIf="deleteConfirmationOpen">Cancel</button>
              <mat-card-subtitle class="optionSub">
                  <p>Delete an agent and their Auth0 login account entirely, along with any chat involvement (No undo)</p>
                  <span class="error" *ngIf="client.isAdmin">(An admin cannot be deleted)</span>
              </mat-card-subtitle>
          </div>
        </mat-card-actions>
    </mat-card>
</ng-scrollbar>
