<div class = "container mat-elevation-z2" [@simpleFadeAnimation]="'in'">
  <div class="contentDiv mat-elevation-z4">
      <div class="small-box mat-elevation-z3">
          <mat-toolbar>Status</mat-toolbar>
          <mat-list>
              <mat-list-item>Change status</mat-list-item>
              <mat-list-item>Update check correspondence</mat-list-item>
          </mat-list>
      </div>
  </div>
  <div class="contentDiv mat-elevation-z4">
      <div class="small-box mat-elevation-z3">
          <mat-toolbar>Profile Overview</mat-toolbar>
          <mat-list>
              <mat-list-item>{{ client.clientName }}</mat-list-item>
              <mat-list-item>{{ client.clientNickname }}</mat-list-item>
              <mat-list-item>{{ client.email }}</mat-list-item>
          </mat-list>
      </div>
  </div>
</div>