mat-card
{
    display: inline-block;
    margin: 10px;
}
mat-divider
{
    width: 80%;
}
.container {
    display: inline-block;
    overflow: scroll;
    align-content: center;
}
.optionDiv
{
    display: block;
    padding-top:10px;
    text-align: center;
}
.optionSub
{
    display: block;
    padding: 5px;
}
.infoCard
{
    display: inline-block;
}