.container
{
  display: block;
  text-align: center;
  min-width: 600px;
  margin-bottom: 15px;
}
.child{
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  margin-top: 15px;
}
.small-box, .large-box {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
.small-box {
  text-align: center;
  height: auto;
  width: auto;
}

.large-box {
  height: 300px;
  width: 300px;
}
.contentBox{
  padding: 25px;
  background-color:white;
}
