.historySelection {
  display: inline-block;
  width: 35%;
  height: fit-content;
  vertical-align: top;
  clear: both;
}
.historyListOption {
  display: block !important;
  height: fit-content !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.chatCard {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  width: 63%;
}
.containerCard {
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px !important;
}
.centeredToolbar
{
  display: block;
  text-align: center;
  padding-top: 16px;
}
.infoSubtitle
{
  text-align: center;
  margin-top: 15px;
}
.scrollbar
{
  width: 95%;
  height: fit-content;
  max-height: 800px;
}
@media (max-width:600px)
{
  .historySelection {
    display: block;
    width: 95%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .chatCard {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
