<button mat-button [routerLink]="'/profile'" class="navButton">
    <mat-label>Profile</mat-label>
</button>
<button mat-button [routerLink]="'/mission-boards'" class="navButton">
  <mat-label>Mission Boards</mat-label>
</button>
<button mat-button [routerLink]="'/headquarters'" class="navButton">
    <mat-label>Headquarters</mat-label>
</button>
<button mat-button [routerLink]="'/agent-catalogue'" class="navButton">
  <mat-label>Agent Catalogue</mat-label>
</button>
<button mat-button [routerLink]="'/correspondence'" class="navButton">
    <mat-label>Correspondence</mat-label>
</button>
<button mat-button [routerLink]="'/admin-control'" class="navButton">
    <mat-label>Admin Control</mat-label>
</button>
<button mat-button (click)="auth.logout()" class="navButton">
    <mat-label>Logout</mat-label>
</button>

