
<div id="contact-div">
    <mat-card class="list-card mat-elevation-z5">
        <mat-card-header>
            <mat-card-title>Contact History</mat-card-title>
            <mat-card-subtitle>Chat history for {{ selectedHistory.conversationClient.clientNickname }}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="selectedHistory.eventType.eventDescription != undefined">Sending to {{selectedHistory.assignmentRecieverClient.clientNickname}} for the {{selectedHistory.eventType.eventDescription}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="selectedHistory.eventType.eventDescription == undefined">General Coversation History</mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
            <div *ngIf="selectedHistory == undefined" id="chat-window" class="spinner-container mat-elevation-z5">
                <span>No chat selected! Select a chat history to see messages</span>
            </div>
            <div *ngIf="showLoading" class="spinner-container">
                <app-small-loading-spin></app-small-loading-spin>
            </div>
            <div class="actionBarDiv" *ngIf="showActionProgressBar">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div #chatFrame *ngIf="selectedHistory != undefined && !showLoading" id="chat-window" class="mat-elevation-z5">
                <ng-container *ngFor="let message of totalHistory()">
                    <div class="date-div">
                        <span>{{ message.dateTimeSent.toDateString() }} - {{ message.dateTimeSent.toLocaleTimeString() }}</span> <span id="timeZone"> (Eastern Daylight Time) </span>
                        <mat-divider [inset]="true"></mat-divider>
                    </div>
                    <div class="message mat-elevation-z3" [ngClass]="{'sent-message' : message.subjectMessage,
                                     'recieved-message' : !message.subjectMessage}">
                        <div class="nick-div">
                            <span> {{ message.senderClient.clientNickname }} </span>
                            <mat-divider [inset]="true"></mat-divider>
                        </div>
                        <p id="content"> {{ message.messageContent }} </p>
                        <div class="messageCheckDiv">
                            <button mat-raised-button class="messageCheckButton mat-elevation-z5" *ngIf="!message.isMessageRead && !message.subjectMessage"
                                matTooltip="Mark as read"
                                [disabled]="markingRead"
                                (click)="markRead(message)">
                                <mat-icon mat-icon-button>check</mat-icon>
                            </button> 
                        </div>
                    </div>
                    <!-- Show the read arrow if the message has been read, and the sending client does not match the subject viewer -->
                    <span class="readSpan" *ngIf="message.isMessageRead && message.senderClient.clientID != selectedHistory.subjectClient.clientID"
                    [ngClass]="{'sent-read' : message.subjectMessage,
                    'recieved-read' : !message.subjectMessage}"><mat-icon>check</mat-icon>Read</span> 
                    
                </ng-container>
            </div>
        </mat-card-content>
    </mat-card>
</div>