mat-card
{
    vertical-align: top;
    text-align: left;
}
.list-card
{
    width: 100%;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.chat-control-button
{
    margin: 10px;
}
#contact-div
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#loader-window
{
  height: fit-content;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#chat-window
{
    height: 500px;
    min-height: 500px;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#button-container
{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
#timeZone
{
    color: rgb(184, 184, 184);
}
/* Message classes*/
#content
{
    white-space: pre-wrap;
}
.date-div
{
    display: block;
    width: 40%;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.nick-div
{
    width: 50%;
    text-align: center;
}
.message
{
    width: 40%;
    display: block;
    border-radius: 15px;
    word-wrap: break-word;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.recieved-message
{
    background-color: #E9E9EB;
    color: rgb(70 70 70);;
    text-align: left;
    margin-right: auto;
    margin-left: 10px;
}
.sent-message
{
    background-color: #1788FE;
    color: white;
    text-align: left;
    margin-right: 10px;
    margin-left: auto;
}
.readSpan
{
    display: block;
    color: #b9b9b9;
    font-size: smaller;
}
.sent-read
{
    text-align: right;
    margin-right: 10px;
}
.recieved-read
{
    text-align: left;
    margin-left: 10px;
}
.actionBarDiv
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.messageCheckButton
{
    width: 80%;
}
.messageCheckDiv
{
    text-align: center;
    width: 100%;
}
