
<div id="contact-div">
    <mat-card class="list-card mat-elevation-z5">
        <mat-card-header>
            <mat-card-title>Contact History</mat-card-title>
            <mat-card-subtitle>Chat history for {{ selectedHistory.conversationClient.clientNickname }}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="selectedHistory.eventType.eventDescription != undefined || selectedHistory.eventType.eventDescription != null">Sending to {{selectedHistory.eventRecieverClient.clientNickname}} for the {{selectedHistory.eventType.eventDescription}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="selectedHistory.eventType.eventDescription == undefined || selectedHistory.eventType.eventDescription == null">General Coversation History</mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
            <div *ngIf="selectedHistory == undefined" id="chat-window" class="spinner-container mat-elevation-z7">
                <span>No chat selected! Select a chat history to see messages</span>
            </div>
            <div #chatFrame *ngIf="selectedHistory != undefined" id="chat-window" class="mat-elevation-z7">
                <div class="spinner-container">
                    <app-small-loading-spin *ngIf="showLoading"></app-small-loading-spin>
                </div>
                <ng-container *ngFor="let message of selectedHistory.history">
                    <div class="date-div">
                        <span>{{ message.dateTimeSent }}</span>
                        <mat-divider [inset]="true"></mat-divider>
                    </div>
                    <div class="message mat-elevation-z3" [ngClass]="{'sent-message' : message.senderClient.clientID == sendingClientMeta.clientID,
                                     'recieved-message' : message.recieverClient.clientID == sendingClientMeta.clientID}">
                        <div class="nick-div">
                            <span *ngIf="message.senderClient.clientNickname != ''"> {{ message.senderClient.clientNickname }} </span>
                            <span *ngIf="message.senderClient.clientNickname == ''"> Admin </span>
                            <mat-divider [inset]="true"></mat-divider>
                        </div>
                        <p> {{ message.messageContent }} </p>
                        <div class="messageCheckDiv">
                            <button mat-raised-button class="messageCheckButton mat-elevation-z5" *ngIf="message.senderClient.clientID != sendingClientMeta.clientID && !message.isMessageRead"
                                matTooltip="Mark as read"
                                [disabled]="markingRead"
                                (click)="markRead(message)">
                                <mat-icon mat-icon-button>check</mat-icon>
                            </button> 
                        </div>      
                    </div>
                    
                </ng-container>
            </div>
        </mat-card-content>
    </mat-card>
</div>