.api-card {
  width: 26%;
  min-width: 200px;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
  outline: 2px;
  outline-color: rgb(170, 170, 170);
  border-radius: 8px;
}
.logDisplayCard
{
  width: 68%;
  margin-left: 0px;
}
.categoryListItem
{
  margin-top: 5px;
  margin-bottom: 5px;
}
.categoryCardHeader
{
  display: block;
  margin-left: 0px;
}
.subheaderText
{
  display: block;
  padding-left: 3px !important;
}
@media (max-width:600px)
{
  .api-card
  {
    display: block;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }
}
