<button mat-button [routerLink]="'/profile'" class="navButton mat-elevation-z2">
    <mat-label>Admin Profile</mat-label>
</button>
<button mat-button [routerLink]="'/headquarters'" class="navButton mat-elevation-z2">
    <mat-label>Headquarters</mat-label>
</button>
<button mat-button [routerLink]="'/correspondence'" class="navButton mat-elevation-z2">
    <mat-label>Correspondence</mat-label>
</button>
<button mat-button [routerLink]="'/help'" class="navButton mat-elevation-z2">
    <mat-label>Help</mat-label>
</button>

