<div id="overlay" *ngIf="showClientCard" (click)="hideClientWindow()">
</div>

<div class="container mat-elevation-z3 clientCard" *ngIf="showClientCard">
  <div class="fixedDiv mat-elevation-z6">
      <app-selected-anon
      [loadingClient]="false"
      [client]="selectedClient"
      (refreshSelectedClient)="updateSelectedClient($event)"
      (actionTaken)="setRefreshListAction($event)"></app-selected-anon>
  </div>
</div>

<mat-card class="api-card mat-elevation-z5">
  <mat-card-header>
      <mat-card-title>Auto Assign</mat-card-title>
      <mat-card-subtitle>Assigns any Mass Mail Recipients that havn't been assigned to mass mailers</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

      <!-- Mailer Chip list-->
      <mat-toolbar>All Mass Mailers</mat-toolbar>

      <div>
          <app-small-loading-spin *ngIf="gatheringAllClients"></app-small-loading-spin>

          <mat-chip-list *ngIf="!gatheringAllClients && sortMassMailers().length != 0">
              <mat-chip *ngFor="let client of sortMassMailers()" (click)="selectClient(client)"><span class="chipText">{{client.clientNickname}}</span></mat-chip>
          </mat-chip-list>
          <span *ngIf="sortMassMailers().length == 0 && !gatheringAllClients">No mass mailers to display</span>
      </div>

      <mat-toolbar>All Mass Mail Recipients</mat-toolbar>

      <div>
          <app-small-loading-spin *ngIf="gatheringAllClients"></app-small-loading-spin>

          <mat-chip-list *ngIf="!gatheringAllClients && sortMassMailRecipients().length != 0">
              <mat-chip *ngFor="let client of sortMassMailRecipients()" (click)="selectClient(client)"><span class="chipText">{{client.clientNickname}}</span></mat-chip>
          </mat-chip-list>
          <span *ngIf="sortMassMailRecipients().length == 0 && !gatheringAllClients">No mass mail recipients to display</span>
      </div>
      <div class="spacingStyle">
        <button mat-raised-button (click)="giveAssignments()" [disabled]="postingNewAssignments">Get auto-assignments</button>
      </div>

      <mat-divider [inset]="true"></mat-divider>
      <div class="scrollDiv" *ngIf="logArray.length != 0 && buttonClicked">
        <div class="spacingStyle scrollbar scrollbar-primary" *ngFor="let logEntry of logArray">
          <span class="logEntry">{{ logEntry }}</span>
        </div>
      </div>
      <div class="spacingStyle" *ngIf="logArray.length == 0 && !buttonClicked">
        <span>Results will display here when clicked</span>
      </div>

  </mat-card-content>
</mat-card>

<mat-card class="api-card mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>Potential Autoassigns</mat-card-title>
    <mat-card-subtitle>List of queued assignments to be approved</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- Table headers -->
    <div class="headerContainer">
      <div class="headerDiv">
        <span class="headerSpan">Mass Mailer</span>
      </div>
      <div class="headerDiv">
        <span class="headerSpan">Assignment</span>
      </div>
    </div>
    <!-- Potential Pairing -->
    <div class="pairingContainer" *ngFor="let clientPairing of possiblePairings">
      <div class="pairingDiv mat-elevation-z3">
        {{ clientPairing.sendingAgent.clientNickname }}
      </div>
      <div class="pairingDiv mat-elevation-z3">
        {{ clientPairing.possibleAssignment.clientNickname }}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>Confirm Selected Assignments</button>
  </mat-card-actions>
</mat-card>
