#data-table
{
    width: 100%;
    text-align: left;
}
#addPostButtonDiv
{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.infoCard
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 90%;
    height: auto;
}
.changeFormField
{
    display: block;
}
.descriptionSpan
{
  display: block;
  max-width: 250px;
}
.error
{
    color: #F44336;
}
.actionButton
{
  max-width: 40px;
  max-height: 40px;
  margin: 5px;
}
.actionContainer
{
  display: block;
  min-width: 50px;
}
.editField
{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  width: 100px;
}
.descriptionEditField
{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  width: 100%;
  max-width: 250px;
}
.info
{
  margin-left: 5px;
  margin-right: 5px;
}
.linkButton
{

}

@media (max-width:550px)
{
  .descriptionSpan
  {
    display: block;
    max-width: 150px;
  }
  .descriptionEditField
  {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    width: 100%;
    max-width: 100px;
  }
}
